[2017-12-01 21:56] joshuawoodward opened #57 "When importing OpenAPI spec use tags versus paths"
If you import a OpenAPI (swagger) spec file, the collection and folders appear to be grouped by the paths, versus the tags.

In a Swagger UI endpoints are grouped and ordered by the Tags
![2017-12-01_13-49-13](https://user-images.githubusercontent.com/1133928/33504995-a73a5ede-d69e-11e7-9ac5-c741d2f19ac2.png)

In Postman the endpoints are grouped and ordered by the paths (just the root)
![2017-12-

[2018-12-12 11:12] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-13 10:15] unlikenesses opened #3 "Generate folders according to the tags in the OAS spec"
**Description:**
When importing an OpenApi 3.0 yaml file with a `tags` section, these are ignored. Postman folders seem to be generated based on the first segment of each endpoint's URL.

**Expected Behaviour:**
It would be much more convenient if Postman folders derived from a specification's `tags`. (For my use case, anyway. I would be interested to hear other opinions on this.)

[2018-12-13 22:26] ccs018 opened #4 "CLI looking for source in wrong location"
Performed `npm install -g openapi-to-postmanv2`.
Entered directory where OpenAPI 3.0 source yaml file located.
Attempted `openapi2postmanv2 -s testapi.yaml`.

[code]

[2018-12-13 22:45] ccs018 opened #5 "Error parsing valid (but odd) OpenAPI 3.0 spec"
My workflow for creating APIs includes using many re-usable components to drive consistency and commonality between the APIs in our project.  This means I have a lot of $ref's to external files.  Then, as part of a release & publication step, I use the NPM package RefParser to bundle all of these "source" files into a single YAML file with no external references.  The result of this bundling can r

[2018-12-16 12:06] abhijitkane commented on #5
@ccs018 https://github.com/postmanlabs/openapi-to-postman/pull/6 should address this

[2018-12-16 14:13] harryi3t opened #7 "Postman doesn't recognize a valid openapi 3 yaml file"
Original Issue by @damaru-inc from https://github.com/postmanlabs/postman-app-support/issues/5651

**Describe the bug**
I created an openapi 3 file, and I'm using Swagger to generate the API code. That works fine, so I'm confident that my file is valid.

**To Reproduce**
1. Open Postman
2. Click Import
3. Select the file - I've copied it here, it's not very long
4. Postman shows the message: Error

[2018-12-16 21:04] ccs018 commented on #5
Thanks for the quick turn around!  Do you know how long it will be for a new version of Postman to be released with this fix?

[2018-12-16 21:12] ccs018 commented on #7
I pasted your spec into editor.swagger.io and it was throwing errors.  The initial problem appears to be that you have two `components` sections.  Even after merging your two `components` section, editor.swagger.io continues to throw a lot of errors.  This does not appear to be a valid specification.

[2018-12-17 02:18] damaru-inc commented on #7
You’re right, editor.swagger.io does complain, but it worked fine with version 3.0.0 of swagger-codegen-cli.jar. I’ll work through that list of errors (that swagger cli didn’t report)…

Thanks,
Michael

[2018-12-18 04:41] Kiran-B opened #8 "Support for import of servers defined in Open API spec"
Open API spec allows definition of multiple [servers](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#serverObject). The import of such specs are successful. But Postman appears to choose/use the first server URL.

Requested behavior:
- Server URL and protocol translates to two variables. Approach may extend to other [server variables](https://github.com/OAI/OpenAPI-Spec

[2018-12-18 05:31] abhijitkane commented on #4
@ccs018 Closing. The latest release should have this fixed.

[2018-12-18 05:31] #4 closed

[2018-12-18 05:31] abhijitkane commented on #5
@ccs018 We'll be releasing the next Postman Canary version by tomorrow.

[2018-12-18 16:30] ccs018 commented on #4
Confirmed.  Thanks!

[2018-12-18 16:45] ccs018 commented on #5
Confirmed that openapi-to-postmanv2@0.0.9 resolves this issue.

[2018-12-18 16:45] #5 closed

[2018-12-20 09:36] AndriiHavrylyak opened #9 "How to send a base64 image to Postman?"
You need to request an API with an image encoded in base64. I would like to assign the "Фото1
![1](https://user-images.githubusercontent.com/38010614/50276766-6c725000-044b-11e9-9c6b-5abdc97622b0.jpg)
" time to base64 via the Get-request, but there is an error!

[2018-12-24 21:06] SlvrEagle23 opened #10 "Error Importing OpenAPI: Cannot read property 'hasOwnProperty' of undefined"
Currently attempting to import an OpenAPI 3.0 YML file into Postman, and running into the following issue:

[code]

I've been hammering away at this for a while and I can't seem to be able to inspect into the OpenAPI importer library itself (`openapi-to-postmanv2`) in order to figure out what part of the YML file is actually failing validation.

The YML file I'm attempting to parse and import is a

[2019-01-02 13:35] abhijitkane opened #12 "_postman_previewlanguage isn't set while exporting a collection"
For OAS specs with a JSON/XML response body, the response language (_postman_previewlanguage in the collection json) isn't set

[2019-01-02 13:35] abhijitkane commented on #12
PR https://github.com/postmanlabs/openapi-to-postman/pull/11 addresses this

[2019-01-03 10:46] SlvrEagle23 commented on #10
@abhijitkane Thank you for your response and for uploading the fixed version. The tool I use to generate the OpenAPI spec document isn't 100% clear on how some of these things should be done, and it appears the resolution in this case is as simple as nesting the JSON content annotation inside the "RequestBody" one.

Question, though...why is the "api_key" security definition causing problems with

[2019-01-03 11:31] SlvrEagle23 commented on #10
@abhijitkane Never mind, I did some further digging and discovered that non-OAuth API authentication sources can't contain "scopes" by default, and should always just list their contents as an empty array.

It would certainly be nice if this importer returned more detailed information, or if introspection on the issue was possible within the Postman application or its inspector panel. If there is

[2019-01-03 11:31] #10 closed

[2019-01-07 13:01] chrysthynee opened #13 "postman does not import Group OpenApi 3.0.0 YAML"
Hi,

I'm trying to create a test postman Collection with Berlin Group 3.0.0 yaml and i get a generic error "Could not import" with no more details.  https://editor.swagger.io/  does validate teh yaml. Could you please help me?

[2019-01-07 21:32] chrysthynee opened #14 ""Error while importing Open API 3.0: Could not import" for Berlin Group API"
**App information:**
 - Native App
 - 6.6.1
 - mac oS High Sierra 10.13.6, Windows 10

**Bug info**
When trying to import Berlin Group Open Api into Postman I get the message "Error while importing Open API 3.0: Could not import" with no further information.
Swagger Editor parses the file without problem.

I've attached complete YAML to this issue (please remove txt extension before testing)
Thank

[2019-01-09 08:34] abhijitkane opened #15 "Attempting to upgrade to a paid plan with a problematic card doesn't let me change the card to retry"
See internal JIRA ticket for more

Attempt to upgrade with a card that isn't being accepted by the bank. On retrying, there's no provision to enter a new card and hence no way to upgrade.

[2019-01-11 14:32] felzan opened #16 "Authorization header between quotation marks"
On my OAS3 i have
[code]
Then the Postman request have
[code]

I think it shouldn't have quotation marks.
Having the same schema on another Parameter (but different **in**) like query param which doesn't have quotation marks

[2019-01-11 19:45] abhijitkane commented on #13
@chrysthynee Is this the issue you're facing - https://github.com/postmanlabs/openapi-to-postman/issues/14? If so, I'll close this thread.

[2019-01-12 15:42] chrysthynee commented on #13
yes, it  is, have you find a solution yet?

[2019-01-14 08:37] #13 closed

[2019-01-14 08:38] #12 closed

[2019-01-14 08:44] abhijitkane commented on #14
@chrysthynee This is fixed in the current version of the converter. I've uploaded the converted JSON at https://gist.github.com/abhijitkane/9bdff36b230e7accc8b693160754898d
@numaanashraf The app will need to update the converter version.

[2019-01-14 08:44] #14 closed

[2019-01-14 09:09] abhijitkane commented on #16
@felzan PR https://github.com/postmanlabs/openapi-to-postman/pull/17 should address this

[2019-01-15 03:19] smaeda-ks commented on #14
@abhijitkane @numaanashraf same here. Could you please release the new app version as soon as possible?

@chrysthynee While this issue continues, I think you may be able to convert OAS 3.0 -> potman collection JSON by manually using CLI option as described here:
https://github.com/postmanlabs/openapi-to-postman#command-line-interface

[2019-01-15 05:15] smaeda-ks commented on #3
As an alternative, you can use APIMATIC to fully convert postman collection -> OAS 3.0
https://www.apimatic.io/transformer

It handles `Tags` nicely.

[2019-01-16 17:19] blackat opened #18 "url not correctly imported"
**Describe the bug**
URL is not correctly imported when [path templating](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#path-templating) is used.

Imported
[code]

JSON file
[code]

It is not clear how the placeholders are resolve and hence how to define the environment to apply them.

**Expected behavior**
I expect to have the same placeholders to be use in the enviro

[2019-01-17 01:58] syndic8myles commented on #14
For anyone else trying to follow the above and use the ```develop``` branch to get around this bug, here is the command I used.

```node ./bin/openapi2postmanv2 -s swagger.json -o postman.json```

[2019-01-23 08:19] rexlam0630-pwc opened #19 "Global level security definition should be converted to collection level authorization instead of item level"
Currently, the global level security is converted to item level individually, it should be in collection level and item level should be inheriting.

Input
[code]

Output

[code]

Expected: Auth should be at the root level instead of item level

[2019-01-23 15:40] FriOne opened #21 "TypeError: Cannot read property 'type' of undefined"
Hi! I'm trying to compile file like this `openapi2postmanv2.js -s ./docs/compiled.yml -o ./docs/postman.json -p`. And get this error:

Could you point me in a right direction? I guess the error is on the line with `authHelper`.

[2019-01-24 00:11] JP-from-Postman opened #22 "Import: Map root-level description property in OpenAPI to Collection description"
When importing swagger files, the root-level description property in OpenAPI doesn't appear to be mapped to anything in the Collection.

Would make sense for this to map to the following in Collection schema:
{
   info: {
       description: **<description here>**
   }
}

[2019-01-24 12:38] abhijitkane commented on #22
@JP-from-Postman We do. The OAS converter creates a description if present in the info.description property:
[code]

[2019-01-24 21:23] tyler-laberge opened #23 "OpenAPI 3.0 unknown string formats are stripped"
OpenAPI 3.0 allows you to specify a format for 'string' data types, see https://swagger.io/docs/specification/data-models/data-types/#string

This is an open field so you can specify whatever format you want, such as "email", "hostname", etc.

However, if you specify a format that is not a built-in OpenAPI 3.0 format, the field gets completely stripped out of the generated postman collection. Inst

[2019-01-29 19:26] JP-from-Postman commented on #22
@abhijitkane Gotcha. What about the root-level `description` property? Does this have a different use-case in OAS?

[2019-01-30 05:38] abhijitkane commented on #22
@JP-from-Postman There is no root-level description - https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#fixed-fields
Only info.description

[2019-01-30 05:40] #22 closed

[2019-02-07 08:11] abhijitkane commented on #21
@FriOne Can you test with `v0.0.10` of the module? This should be fixed by https://github.com/postmanlabs/openapi-to-postman/commit/84e88d1d886e57d0c292c7b81109246b3956a673

[2019-02-08 09:19] michalgarcarz opened #24 "Specification must contain a semantic version number of the OAS specification"
Hello Team,

Installed the tool and tried with:
https://obsrvbl-assets.obsrvbl.com/api/openapi.json
https://raw.githubusercontent.com/APIs-guru/openapi-directory/master/APIs/amazonaws.com/cloudtrail/2013-11-01/swagger.yaml

But for both i got:
[root@centos7 scripts]# /root/node_modules/.bin/openapi2postmanv2 -s openapi.json -o collection-observ.json -p
Input file:  /root/scripts/openapi.json
Speci

[2019-02-11 13:00] codekronik opened #25 "Missing query parameter description throws undefined error"
The issue:
[code]

This happens in two different cases:

**Case 1:** I have query parameters defined without description.
[code]
Which results in:
```PostmanQueryParam {key: 'id', value: '<integer>' }```

**Case 2:** I have example calls defined:
[code]

Since query parameter is defined in path name it also resolves it into:

[code]

**Solution:**  change [/lib/util.js@1296](https://github.com/pos

[2019-02-13 12:12] sflusov commented on #24
Hi @michalgarcarz ,
You should add to the beggining of json file next property: "openapi": "3.0"

See example below:
[code]

[2019-02-14 08:58] cjlotz opened #29 "Server Url path templates not imported correct"
**Describe the bug**
When importing a valid open api 3 specification that makes use of path variables in the `servers` section of the spec, some of the variables are not being parsed correctly and created as parameters.

Spec illustrating the issue:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached example file by using the `Import | Paste Raw Text` functionality in

[2019-02-14 15:07] wabiloo opened #26 "Ability to have custom functions called during conversion"
During the conversion to Postman, we would like to be able to do some specific logic (eg. setting default values for parameters, adding tests, etc.) for specific endpoints. We typically mark those with custom attributes (eg. "x-bla" tags), but sometimes we do it just based on the endpoint name.

It would therefore be useful to have the ability for each openapi node being converted to be able to pa

[2019-02-14 16:28] wabiloo opened #27 "Support for schemas that use "allOf""
Currently the code (deref.js - https://github.com/postmanlabs/openapi-to-postman/blob/f3edbd98efb47b55733a2dcfc043c954d156ed69/lib/deref.js#L103) does not support schemas that have 'allOf' (which all my openapi paths use).
Any idea when that will be supported?

[2019-02-14 21:27] afewremarks opened #28 "Output format should match format required for postman Collection API PUT/POST"
I able to successfully convert an Openapi 3.0 spec to a collection but this format doesnt seem to be supported by the postman api to programmatically import it.

I am able to import it manually in the UI

[2019-02-15 23:39] drjonnicholson opened #30 "Accept header on importing OpenAPI 3 spec"
**Is your feature request related to a problem? Please describe.**

When importing an OpenAPI 3 specification no accept header is set in the postman collection. In our case (good or bad) we specify the api version in the media type in the accept header and we need to manually override this after importing the specification for requests to work.

That is, an accept header of */* doesn’t work for us

[2019-02-18 13:13] michalgarcarz commented on #24
Indeed, with that tip working fine, thanks @sflusov !

[2019-02-18 13:20] michalgarcarz commented on #24
Just one more minor problem with mentioned YAML from AWS:

[root@centos7 scripts]# /root/node_modules/.bin/openapi2postmanv2 -s aws-v3.yaml
Input file:  /root/scripts/aws-v3.yaml
ref #/parameters/Action not found.
ref #/parameters/Version not found.
ref #/parameters/X-Amz-Content-Sha256 not found.
ref #/parameters/X-Amz-Date not found.
ref #/parameters/X-Amz-Algorithm not found.
ref #/parameters/X

[2019-02-19 13:41] reinhardt1053 commented on #27
Same issue. It shows "schema type not provided" in the body.

[2019-02-20 09:56] drjonnicholson commented on #30
Just to check, when I import a specification in the postman client application, is it using the code in this repo?

I ask as my issue was in importing the OpenApi spec from URL in the client rather than using a CLI to generate the collection. Just making sure this issue is in the right place 😃

[2019-02-20 10:35] drjonnicholson commented on #3
👍 to having an option to allow structuring the collection by tags. Without this our API in Postman isn't structured the way our docs are presented, making it harder to use.

It'd be really good if the it could use the `x-displayName` vendor extension (used in tools like ReDoc) if it exists. Fall back to the tag name if not.

[2019-02-20 10:38] drjonnicholson opened #31 "Config to disable params by default"
It'd be nice if the collection disables params, and certain headers, by default.

Ideally, the initial state of the converted collection should disable any optional things, and enable any required things.

[2019-02-27 07:58] neterium opened #34 "Empty bearer token"
This is great that the bearer token is selected by default. However, it would a a lot more convenient that the default value would point to an environment variable, instead of an empty string.
Then, the consumer would just have to fill in the variable and boom all the calls are ready.

[2019-02-27 08:03] neterium opened #35 "external examples do not work"
The examples given in a separate JSON file are not imported correctly.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#request-body-examples

[code]

In the imported example, for the moment, just this API example fields are imported instead of the one given in the "externalValue" field.

[2019-02-28 23:50] GimpMaster opened #39 "OpenAPI 3.0 allOf keyword not working properly on import"
Please read through the [guidelines](https://github.com/postmanlabs/postman-app-support#guidelines-for-reporting-issues) before creating a new issue.

**Describe the bug**
I'm using the import feature of a yaml file with an openAPI spec.  I'm making use of the allOf keyword in a requestBody to compile a reference and an additional property. Rendering this in swagger works just great. However when

[2019-03-02 00:20] JP-from-Postman opened #36 "OpenAPI 3.0: $ref path string that includes a dot (name.name) doesn't import correctly."
**ISSUE**
When importing an OpenAPI 3.0 .json file, with a $ref that points to a component path, if the path string contains a `.` (example: `"$ref": "#/components/schemas/item.otherItem"`), the path isn't resolved correctly, and shows an error like the following in the field where the $ref was used:

`"value": "reference #/components/schemas/item.otherItem not found in the api spec"`

Replacing t

[2019-03-04 09:43] rasbreuknedap commented on #36
Hi,

First of all i would like to thank JP-from-Postman for filing this issue.
This issue is impacting our usage of Postman, could you give us an estimate on when this is going to be picked-up/fixed?

Your sincerely,

Raymond Asbreuk
Nedap

[2019-03-04 12:17] rcrooks opened #38 "OpenAPI import does not follow references in YAML"
The new OpenAPI import feature is fabulous, but the parser cannot follow references in OpenAPI YAML files.

**Describe the bug**
The import generally works very well, but I'm seeing a lot of these in request bodies:

"value": "reference #/components/schemas/IngestMediaAssetbody.textTracks not found in the api spec"

where a field in one component references another component.

[openapi.yaml.txt](h

[2019-03-07 09:14] munim opened #37 "Conversion failing for Jira swagger spec"
Hi,

I am trying to convert Jira REST API Swagger spec to Postman. However it is failing when **`schema.items.default = "*all"`.**

I am using https://developer.atlassian.com/cloud/jira/platform/swagger.v3.json

Error I am getting

[code]

[2019-03-08 07:36] rasbreuknedap commented on #36
Hi,

Any updates on the above? Could you give any estimate on when this ticket is going to be picked up/fixed?

Your sincerely,

Raymond Asbreuk
Nedap

[2019-03-12 14:48] drjonnicholson commented on #30
Here's a PR: https://github.com/postmanlabs/openapi-to-postman/pull/40

[2019-03-20 12:33] zihotki opened #41 "Postman v7 fails to recognize complex parameter objects in OpenApi v3 specs"
Postman v7.0.6 fails to recognize complex parameter objects in OpenApi v3 specs.

Sample yaml spec:
[code]

Instead of using the paging parameters as `paging.index` and `paging.page_size` it identifies it as `paging` parameter with json body

![image](https://user-images.githubusercontent.com/114631/54684471-ba632680-4b14-11e9-8319-4fe6cc8c23d4.png)

[2019-03-20 23:32] JP-from-Postman opened #42 "OpenAPI3 JSON file: Body not imported"
Importing the following schema omits request bodies:
https://api.bol.com/retailer/public/apispec/v3

[2019-03-22 07:22] rasbreuknedap commented on #36
Hi,

Do you have any updates on the questions i asked above.
Could you please give any estimate on when this ticket is going to be picked up/fixed?

Gr,

Raymond Asbreuk

[2019-04-02 14:29] mrehder opened #44 "OpenAPI 3.0 Import by Postman 7.0.7 fails"
Import fails.
Log message:
[2648][1554214948381][requester][error]["Open API 3~Failed to import Open API 3.0",{"name":"TypeError","message":"Cannot read property 'push' of undefined","stack":"TypeError: Cannot read property 'push' of undefined\n    at _.forEach (file:///C:/Users/mrehder/AppData/Local/Postman/app-7.0.7/resources/app.asar/js/postman-converters.js:42773:18)\n    at arrayEach (file://

[2019-04-03 10:03] amitdotagarwal opened #47 "Unable to submit collection through API"
Hi Team,

We need your help, we are trying post collection through API, and facing some strange issues. For your reference please find below code error and API key.

below is the code error
[code]

This is API request, I have API key

[code]

[2019-04-10 20:27] eabrouwer3 opened #45 "Import and Conversion Results in Folders with no name"
**Describe the bug**
When I import my openapi spec sheet, I end up with some folders in my collection with no name. For instance, inside the `user` folder, I will have a few folders that should be there, and then a blank folder with a couple of the operations that should be just under the `user` folder. Here is a picture for reference.

![no name directory](https://user-images.githubusercontent.co

[2019-04-12 19:50] aerotog opened #49 "CLI Test command fails"
## Expected Behavior
The test should run and good output displayed and/or file is generated.

## Actual Behavior
The following exception is displayed:
[code]

## Steps to Reproduce the Problem

  1. Run test via `λ node openapi2postmanv2.js --test`
  1. Observe error in console

## Specifications

  - Version: 0.0.10
  - Platform: Windows
  - Subsystem: Node v11.14.0, npm 6.7.0

[2019-04-12 19:50] aerotog commented on #49
I believe I have a fix working locally and will open a PR soon.

[2019-04-12 20:18] cia1 opened #52 "Import from openapi v3 with "~1" in parameter $ref"
**Describe the bug**
"Error while importing Open API 3.0: Could not import" if I have "~1" in "$ref".

**To Reproduce**
1. Menu "Import" -> Import File...
2. Got error: "Error while importing Open API 3.0: Could not import"

**App information (please complete the following information):**
- Windows 7
- Postman v7.0.8

**Additional context**
This behavior only if a have "~1" in "$ref" in parameters

[2019-04-12 20:33] #49 closed

[2019-04-17 08:11] abhijitkane commented on #52
@cia1 I wasn't able to reproduce this. Can you attach a sample OpenAPI spec that you're unable to import?

[2019-04-17 08:16] abhijitkane commented on #44
@mrehder Can you attach a sample OpenAPI spec that throws this error while importing?

[2019-04-17 09:45] CharlieTap opened #53 "Open Api import failing"
Please see the linked spec doc:

https://api-explore.sonin-staging.agency/static/parent-api.yaml

Oddly i ran the same spec doc through the openapi2postmanv2 cli and it worked, albeit not perfectly (Shaved off properties in the auth/token service)

[2019-04-17 10:26] yourithielen commented on #19
Yes, this is inconvenient since we have to change all endpoints from "Basic auth" to "Inherit auth from parent" manually after importing.

[2019-04-17 13:25] abhijitkane commented on #36
@rasbreuknedap Thanks for the detailed report, and apologies for the delay here. I've opened up a PR for this fix - https://github.com/postmanlabs/openapi-to-postman/pull/54. We can make a release for this module soon, but this will only be updated in the next version of the Postman app. You can use this as a stand-alone module till then.

[2019-04-17 15:20] mrehder commented on #44
Sorry, I’m unable to share the content (proprietary to my client).

From: Abhijit Kane [mailto:notifications@github.com]
Sent: Wednesday, April 17, 2019 4:17 AM
To: postmanlabs/openapi-to-postman <openapi-to-postman@noreply.github.com>
Cc: Michael Rehder <Michael.Rehder@Amdocs.com>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/openapi-to-postman] OpenAPI 3.0 Import by Postman 7.0

[2019-04-17 18:28] cia1 commented on #52
`{
  "openapi": "3.0.0",
  "info": {
    "title": "OM-API Admin",
    "description": "Админ-зона API Одежда-Мастер",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://example.com/admin/v1",
      "description": "first test server"
    }
  ],
  "paths": {
    /category: {
      get: {
        summary: "Список категорий товаров",
        parameters: [
          {
            name: "

[2019-04-17 18:31] cia1 commented on #52
This will work if remove "#/paths/~1category/get/parameters/0" ref.

[2019-04-25 11:56] aurelo opened #55 "Error importing open api yaml specification"
**Describe the bug**
Error during import of PSD2 yaml api specification:
"Error while importing Open API 3.0: Could not import"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://berlingroup.stackstorage.com/s/iVgP0TIgErYRpCi
2. Click on 'Downloaden' to download current psd2-api.yaml
3. Open postman and import downloaded file
4. Postman gives Error - "Error while importing Open AP

[2019-04-27 06:40] abhijitkane commented on #47
@amitdotagarwal We've pushed out a fix. Can you confirm you're able to import the collection through the API now?

[2019-04-27 06:40] #47 closed

[2019-05-05 03:58] 9fingerdev opened #56 "New Feature request - Generate tests from OpenAPI / Swagger yaml or json file"
I would like to see a new feature that creates basic tests for api calls based on OpenAPI/Swagger definition.

[2019-05-05 03:58] koying opened #58 "Import OpenApi: issue with multiple "_" in host variable"
**Describe the bug**
When importing a json openapi spec with multiple "_" in a variable name as "host", the generated urls are wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Use PetStore openapi spec
2. Change `"host": "petstore.swagger.io",` to  `"host":"{{petstore_url_port}}",`
3. Import spec in postman
4. See that generated url are `https://{{petstore_url_portpostman_variable_clos

[2019-05-06 16:51] eabrouwer3 commented on #45
Sorry that the links stopped working. I changed my GitHub username, so the links changed. Is there any progress report on this bug @abhijitkane?

[2019-05-06 19:34] mradamh opened #59 "string with uuid format silently dropped"
strings with a `format: 'uuid'`  are silently dropped in the conversion to postman collection.  We have lots of primary identifiers as uuids in our OpenAPI spec, so import into Postman is essentially useless.

Any appetite for supporting uuid explicitly, or at least passing through types that you don't do anything with?

**example**

spec:
[code]

exported collection:
[code]

[2019-05-14 18:46] abhijitkane commented on #16
Released in Postman

[2019-05-14 18:46] #16 closed

[2019-05-14 19:52] abhijitkane commented on #18
@blackat Since the OpenAPI converter now saves the server URL as a collection variable, we can only use the environment variable syntax while importing.

eg. a server.url of `{protocol}://{host}:{port}/{contextpath}/{restapi}` converts to `{{protocol}}://{{host}}:{{port}}/{{contextpath}}/{{restapi}}` in Postman.

PR: https://github.com/postmanlabs/openapi-to-postman/pull/60/files

[2019-05-14 19:53] #21 closed

[2019-05-14 20:10] abhijitkane commented on #23
@tyler-laberge PR at https://github.com/postmanlabs/openapi-to-postman/pull/61/files

[2019-05-14 20:14] abhijitkane commented on #24
@michalgarcarz Are the required references present in the same file?
For the `name of null` issue, can you try with the latest version of this module?

If you still face the issue, posting the file here would help. Closing this issue for now.

[2019-05-14 20:14] #24 closed

[2019-05-14 20:22] abhijitkane commented on #25
@codekronik That's odd - the query.members is supposed to come from the Postman Collection SDK. I wasn't able to reproduce this by removing the description from my query params, or by adding a `query` param in the URL.

Can you attach a file with which you're able to reproduce this?

[2019-05-19 15:51] blackat commented on #18
I will check again.
Thanks fo your answer

[2019-05-21 07:58] abhijitkane commented on #59
@mradamh There was a similar issue reported recently (https://github.com/postmanlabs/openapi-to-postman/issues/23). This fix for this has already been merged, and will be included in the next release.

[2019-05-21 07:58] #59 closed

[2019-05-21 07:59] abhijitkane commented on #28
@afewremarks Can you attach a sample spec which is causing this issue?

[2019-05-21 09:16] abhijitkane commented on #53
@CharlieTap I wasn't able to reproduce this. Can you share a screenshot of the error message?

[2019-05-21 17:40] mradamh commented on #23
@abhijitkane any idea on timeline when this would take effect in production postman?

[2019-05-24 18:15] brpeterman opened #64 "Array parameters cause fatal errors when not using schemaFaker"
openapi-to-postmanv2 version: 0.0.12

Example OpenAPI spec:

[code]

Invocation example:
[code]

### Description of problem

When schemaFaker is disabled, openapi-to-postmanv2 produces this error for any operation that takes an array parameter that is not annotated with a specific array style:

[code]

Because schemaFaker is disabled, `paramValue` is an empty string. It looks like I would also run

[2019-05-25 14:21] abhijitkane commented on #58
@koying I'm unable to reproduce this in Postman 7.1.0. Can you confirm?

[2019-05-25 14:22] abhijitkane commented on #55
@aurelo I'm able to successfully import the file in Postman v7.1.0.

[2019-05-25 14:22] #55 closed

[2019-05-25 14:43] koying commented on #58
Still failing for me in 7.1.1

Exact steps:
[code]

![image](https://user-images.githubusercontent.com/164740/58370883-07e08300-7f0c-11e9-9ec8-589e908fc7f8.png)

[2019-05-26 05:27] abhijitkane commented on #52
Thanks @cia1. PR https://github.com/postmanlabs/openapi-to-postman/pull/66 should address this. We'll include this in the next release.

[2019-05-26 05:28] abhijitkane commented on #44
@mrehder Can you upgrade to Postman 7.1.0 and check if you're still seeing the issue? If yes, we'll need a sample spec (with sensitive data removed) that you're unable to import to debug the issue further.

[2019-05-26 05:38] abhijitkane commented on #41
@zihotki According to https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#style-examples, (where the default style for query params is `form`, and the default explode is `true`), the generated params should be just `index` and `page_size`, not `paging.index` and `paging.page_size`. Can you confirm?

[2019-05-26 08:13] abhijitkane commented on #39
@GimpMaster PR https://github.com/postmanlabs/openapi-to-postman/pull/67 should address this. We'll include this in the next release of Postman.

[2019-05-26 08:20] abhijitkane commented on #45
@eabrouwer3 Will include this fix in the next Postman release. For now, removing the trailing slash from the `/user/stuff/` should work.

[2019-05-26 08:32] abhijitkane commented on #45
PR https://github.com/postmanlabs/openapi-to-postman/pull/68 should address this

[2019-05-26 08:34] abhijitkane commented on #27
PR https://github.com/postmanlabs/openapi-to-postman/pull/67/ should address this. Will be included with the next Postman release @wabiloo @reinhardt1053

[2019-05-26 08:35] abhijitkane commented on #23
@mradamh We're targeting a Postman release sometime before June 14.

[2019-05-26 11:14] abhijitkane commented on #38
@rcrooks Seeing the body import correctly in 7.1. Can you confirm?

<img width="1134" alt="Screen Shot 2019-05-26 at 16 43 51" src="https://user-images.githubusercontent.com/681190/58380934-83f2cd80-7fd5-11e9-99fd-8d98fb14a475.png">

[2019-05-26 11:19] #64 closed

[2019-05-26 11:30] abhijitkane commented on #37
@munim You should no longer be seeing this error in the latest version. However, you will need to change `servers.url` from to a non-empty string. For the conversion to work.

[2019-05-26 11:30] #37 closed

[2019-05-26 13:26] rcrooks commented on #38
yes, working now

On Sun, May 26, 2019 at 7:14 AM Abhijit Kane <notifications@github.com>
wrote:

--
Robert Crooks
Director of Learning Services | P: 617 245 5090 | M: 617-584 6128
Brightcove Inc <http://www.brightcove.com/>

[2019-05-27 04:19] #38 closed

[2019-05-27 04:23] abhijitkane commented on #39
Closing as duplicate of https://github.com/postmanlabs/openapi-to-postman/issues/27

[2019-05-27 04:23] #39 closed

[2019-05-27 04:25] abhijitkane commented on #36
@rasbreuknedap The fix has been included in Postman 7.1.0.

[2019-05-27 04:25] #36 closed

[2019-05-27 04:29] abhijitkane commented on #42
@JP-from-Postman This is a swagger 2.0 spec, not 3.0. Will move to the correct repo once it's on github.

[2019-05-27 09:38] zihotki commented on #41
@abhijitkane Good point, according to the specs it should be that way indeed.

[2019-05-28 22:14] eabrouwer3 commented on #45
Thanks! I'll wait for the next release and let you know if it fixes it.

[2019-05-29 16:39] marcoMobilab opened #69 "Handle free form query parameters"
**Describe the bug**
Given an OpenAPI 3 yaml file with a free-form query parameter, for example:
[code]
when generating the postman spec file, then a query parameter (named "userParameters" from the example) is created into the output Postman spec file.

**Steps to Reproduce**
- Create an OpenAPI 3 yaml spec with a free-form query parameter
- Generate the Postman spec file
- Import the generated s

[2019-05-29 19:47] mrehder commented on #44
It still fails

[11304][1559157976877][requester][error]["Open API 3~Failed to import Open API 3.0",{"name":"TypeError","message":"Cannot read property 'push' of undefined","stack":"TypeError: Cannot read property 'push' of undefined\n    at _.forEach (file:///C:/Users/mrehder/AppData/Local/Postman/app-7.1.1/resources/app.asar/js/vendor-shared.js:267585:18)\n    at arrayEach (file:///C:/Users/mreh

[2019-05-31 15:43] cbuice opened #70 "APIs Beta Generate Collection sets Authorization on all request to "No Auth""
**Describe the bug**
When an API is imported through the APIs<sup>Beta</sup> interface, then the 'Generate Collection' button is clicked, all requests in the resulting Collection have their 'Authorization' set to 'No Auth'. This is true even if `security` and/or `securitySchemes` are set in the OpenAPI schema. This makes it difficult to set the 'Authorization' for all Requests in a Collection. It

[2019-06-01 07:57] abhijitkane commented on #70
@cbuice We can change the default to inherit from parent. However, the rest of the security schemes should have been handled, ideally. Can you share a sample security/securitySchemes object that's not being converted?

[2019-06-03 08:09] jackTheRipper opened #71 "[JAVA] Circular References"
Hi,

I am currently trying to use your module to generate a Postman Collection for an API built with Java.

In my models, I have some circular references (supported by Java).

If I parse the specs of my API using the Postman converter with `schemaFaker` set to `true`, my script fails due to circular references.

Swagger UI 2+ supports circular references, is it something planned as well for your m

[2019-06-03 10:20] abhijitkane commented on #57
@namtab00 We're targetting this as an option for the next release of this module, but including the setting in the Postman app will take a few weeks.

[2019-06-04 12:32] reinouts opened #73 "OpenAPI YAML import: properly handle request body"
When generating a collection from the attached YAML spec, the POST body is expected to comply with the supplied definition of ApplicationInstance.

Instead, the generated request body solely contains the value of the "description" attribute.

[Failing_body_ref.zip](https://github.com/postmanlabs/openapi-to-postman/files/3252327/Failing_body_ref.zip)

Tested in PostmanCanary 7.1.1-canary06.

[2019-06-05 10:26] wabiloo commented on #27
This didn't fix it for me.
I installed 7.1.1, reimported the schema, but I still get a "schema type not provided" in the body of my requests

[2019-06-05 12:55] wabiloo opened #75 ""schema type not provided" in body with OpenAPI 3.0"
This is a follow-up on #27 as I still found that the imported file would not convert and would result in a string "schema type not provided" when importing in Postman 7.1.1.

Example of file that fails to import correctly is [openapi-short.json.txt](https://github.com/postmanlabs/openapi-to-postman/files/3257258/openapi-short.json.txt)

I am assuming that that version of Postman 7.1.1 does use ope

[2019-06-07 11:22] jkeith07 commented on #34
I'd agree with this.
We have an endpoint that will return the token, and then every other endpoint requires the token to be authenticated. It'd make importing into POSTman much quicker if the token were to be set by an environment variable. As it is, I'd need to go and manually add the token to each secured endpoint after the fact before I can test anything.

[2019-06-07 12:22] lrobledo commented on #57
@namtab00 Do you mean the code for this feature is already written? I forked the repo to start working on a solution, but I don't want to duplicate work if it's already done and waiting on a release.

[2019-06-07 12:32] namtab00 commented on #57
@lrobledo
...I believe your question is for @abhijitkane , I'm just passing by...

[2019-06-09 19:20] chenrui333 opened #77 "npm registry name `openapi-to-postmanv2` vs `openapi-to-postman`"
I found the repo name is with `openapi-to-postman`, while the artifact got published into npm registry is with `openapi-to-postmanv2`, I wonder if it would be better to consolidate on `openapi-to-postman` (as I did not see anyone has taken the name in npmjs side).

Thanks!

[2019-06-13 15:12] brpeterman opened #80 "Requests at root [/] crash the converter"
### Example spec

[code]

### Description

Calling `convert` on a spec like the one above produces the following error:

[code]

The problem is here: https://github.com/postmanlabs/openapi-to-postman/blob/d344eed31ce1120bf3abb3e59c72de968c45ca72/lib/util.js#L274-L276

The root node of the trie does not have anything in `requests`, so the first attempt to add a request to it throws this error.

[2019-06-15 19:15] heyheyjean commented on #71
Hey you! when you gonna change the pic which you did on my bed after we finished our sexual activities?? Does Irina know about this fact btw? Honestly how dare you to keep it after another try to kill me via leading to a suicide action??

[2019-06-15 19:16] heyheyjean commented on #71
Hey you! when you gonna change the pic which you did on my bed after we finished our sexual activities?? Does Irina know about this fact btw? Honestly how dare you to keep it after another try to kill me via leading to a suicide action??

[2019-06-15 20:29] #71 closed

[2019-06-17 01:47] ten-alk commented on #27
I can confirm that the issue is still reproducible in 7.2.0.

[2019-06-17 09:45] pitpit commented on #80
same bug with `openapi-to-postmanv2@0.0.15`:

[code]

throwing:
[code]

[2019-06-17 11:56] pitpit commented on #80
Here's the PR fixing it: https://github.com/postmanlabs/openapi-to-postman/pull/81

[2019-06-17 13:45] reinouts commented on #73
It already looks better in Canary08, however the generated values are still all "<string>", ignoring the provided examples.

[2019-06-18 18:12] ryparker commented on #44
Same issue here, also the --test does not work.

`$ openapi2postmanv2 --test
fs.js:115
    throw err;
    ^

Error: ENOENT: no such file or directory, open '../examples/sample-swagger.yaml'
    at Object.openSync (fs.js:439:3)
    at Object.readFileSync (fs.js:344:35)
    at Object.<anonymous> (/usr/local/lib/node_modules/openapi-to-postmanv2/bin/openapi2postmanv2.js:100:20)
    at Module._compile

[2019-06-18 18:16] ryparker commented on #44
`openapi2postmanv2 -V` returns `0.0.1`

[2019-06-18 18:21] ryparker commented on #44
Looks related to issue: #80  Fix is here: #81

[2019-06-18 23:03] ryparker opened #82 "Use custom header values"
## Problem

Currently the conversion creates a postman header with the `schema.type` as the value. I would like the param's `schema.example` to be used as the value of a header.

Use case:
Our API uses a custom auth header: `x-auth-token: 12441fasfb1i42141b421i4n12`.
In postman I would like to setup headers that use variables for tokens. Using openAPI3 I can set `schema.example`.  For example afte

[2019-06-19 04:10] abhijitkane commented on #75
@wabiloo We've updated the OpenAPI importer version in Postman 7.2.1. I'm able to import the linked text file. Can you update Postman and check if it works for you?

I wasn't able to reproduce the errors running via the command-line. Can you provide a screenshot of the exact command/script you're running?

[2019-06-19 04:26] abhijitkane commented on #73
<img width="796" alt="Screen Shot 2019-06-19 at 09 54 01" src="https://user-images.githubusercontent.com/681190/59736729-60d7d880-9278-11e9-8160-a9e18e0fcbef.png">

@reinouts This is what I'm seeing in the latest production version of Postman (7.2.1).

[2019-06-19 04:26] #53 closed

[2019-06-19 04:27] abhijitkane commented on #52
@cia1 This has been addressed in the latest Postman version - 7.2.1.

[2019-06-19 04:29] #52 closed

[2019-06-19 04:29] abhijitkane commented on #45
@eabrouwer3 This has been addressed in v7.2.1 of Postman.

[2019-06-19 04:29] #45 closed

[2019-06-19 04:31] abhijitkane commented on #41
@zihotki Thanks - closing this for now. We'll try to enable other use-cases when they aren't conflicting with the spec, but that doesn't seem to be the case here.

[2019-06-19 04:31] #41 closed

[2019-06-19 04:32] #18 closed

[2019-06-19 04:33] abhijitkane commented on #23
@mradamh @tyler-laberge This should be fixed in the latest Postman version - v7.2.1.

[2019-06-19 04:33] #23 closed

[2019-06-19 04:33] #25 closed

[2019-06-19 04:35] abhijitkane commented on #27
@wabiloo @ten-alk @reinhardt1053 Can you check Postman 7.2.1. We were unable to bump up the importer version earlier.

[2019-06-19 06:08] abhijitkane commented on #28
@afewremarks The Postman API defines its own import structure that's different from what the desktop app expects. The API adds a wrapper so that in the future, we can support options/metadata while importing.

For programmatic use, you'll need to wrap the converter's output in a `collection` object to import via the API route.

[2019-06-19 06:08] #28 closed

[2019-06-19 08:53] reinouts commented on #73
"" Should have been `<string>`. Point being that the example values provided in the YAML are ignored.

[2019-06-19 09:28] abhijitkane commented on #73
@reinouts The only example I can see in the request body in the attached YAML is `UUID From the Service Version Instance Entity`, for the request.body.Consumes key. Is that the one you're talking about?

[2019-06-19 11:38] reinouts commented on #73
@abhijitkane Ah yes, the YAML I provided earlier doesn't contain much example values. But say that for the property ServiceType we would add a line `example: 'OData 3.0'`. Then this example value wouldn't appear in the generated request, instead of `<string>`.

[2019-06-19 13:26] ten-alk commented on #27
@abhijitkane It works now.

[2019-06-19 21:59] eabrouwer3 commented on #45
Yup! Looks good to me!

[2019-06-24 21:35] deefactorial opened #84 "Adding required properties renders examples null"
When I add a required property to response object the example returns null

example:
[code]
will render a Postman Example response of `OK` with the object
[code]
But if I add a required object property to the example I get a null response:
[code]
example response:
[code]

[2019-06-24 21:48] deefactorial commented on #84
I found the issue, I needed a space after the hyphen in the required properties.

[2019-06-24 21:48] #84 closed

[2019-07-02 16:43] DRepinSLB opened #86 "Open API v3 - global security section should be applied to the whole collection"
**Describe the bug**
The Open API v3 security schema can be applied to the whole API or to individual operations by adding the security section on the root level or operation level, respectively. https://swagger.io/docs/specification/authentication/
When the security section is applied globally to the whole API, I expect, after importing the swagger definition, that the created collection Authoriz

[2019-07-08 06:29] bpearson opened #87 "This command cannot handle schema/$ref in a specific case"
Been trying to populate request body in postman via importing an openapi v3 spec, but if you do
[code]
It just never seems to add a request body based on a local definition. I have tried putting the content directly in the master api yaml and that works and tried inserting a schema in the json file with no luck. Can someone verify how this is a supposed to work?

BTW the openapi 3 spec says the ke

[2019-07-08 07:30] bpearson commented on #87
Examples...
pet.yaml.txt + pet.json.txt = not working
pet2.yaml.txt = working

[pet.json.txt](https://github.com/postmanlabs/openapi-to-postman/files/3367149/pet.json.txt)
[pet.yaml.txt](https://github.com/postmanlabs/openapi-to-postman/files/3367150/pet.yaml.txt)
[pet2.yaml.txt](https://github.com/postmanlabs/openapi-to-postman/files/3367151/pet2.yaml.txt)

[2019-07-10 00:29] JP-from-Postman opened #88 "Errors importing openapi 3 yaml file"
Importing the attached openapi 3 file [waiting on file from user] fails with error in both the app, and Postman API.

File validates successful via: https://editor.swagger.io/

The following errors are reported when trying to convert via the command-line tool:

[code]

[2019-07-10 03:34] bzmw commented on #88
Hey there.
I was the customer that originally reported this.

If I replace all of the unicode in the file with the translated values then I get a conversion correctly. Even the last error goes away.

Here is a generic file that throws the same errors. two examples one with a line break in the unicode character.

[example-postman-error.zip](https://github.com/postmanlabs/openapi-to-postman/files/33

[2019-07-10 20:37] Br41n opened #89 "Importing Multi-example response"
when i try to import a multi-example response, is only importing the first response.

### OPENAPI 3.0.0 EXAMPLE
[code]
### Postman Versión

![image](https://user-images.githubusercontent.com/4451617/61002911-9e3bfd00-a330-11e9-9c9c-bd49dd26ae64.png)

### Postman Collection

![image](https://user-images.githubusercontent.com/4451617/61003012-e1966b80-a330-11e9-9599-ff96b79f0c63.png)

### Postman Ex

[2019-07-11 16:08] cbetta opened #90 "Problems with servers defined within paths"
I have a bunch of endpoints that are on different domains than most others. To solve this, I’ve listed their domain within the path by overriding the server.

[code]

This is described in the spec here:

https://swagger.io/docs/specification/api-host-and-base-path/

—

Annoyingly, when I do this I see a few errors. Firstly, it seems like it doesn’t like it in some case as it will throw a `TypeErro

[2019-07-11 16:34] #75 closed

[2019-07-11 17:11] cbetta commented on #90
To follow up on this, here is a very basic example of what works and doesn’t work.

The following does not throw an error but fails to convert the paths correctly”

[code]

If I add variables into the path, I get the error I described originally.

[code]

[2019-07-11 17:12] cbetta commented on #90
That first API spec results in this output:

[code]

[2019-07-12 05:12] #27 closed

[2019-07-12 10:07] abhijitkane opened #92 "Having a `//` as a root path crashes the converter"
Seen in 0.0.15. Not entirely sure of the use-case, but the converter shouldn't crash.

[code]

Error:
TypeError: Cannot read property 'push' of undefined
    at Node.addMethod (/Users/abhijitkane/code/openapi-to-postman/lib/trie.js:25:19)
    at _.each (/Users/abhijitkane/code/openapi-to-postman/lib/util.js:356:23)
    at arrayEach (/Users/abhijitkane/code/openapi-to-postman/node_modules/lodash/lo

[2019-07-12 14:06] bobvanderlinden commented on #57
We also ran into this issue. The paths are not an ideal way to structure the APIs and thus we have relied on tags. Any indication on the work that's being done?

[2019-07-15 06:49] #80 closed

[2019-07-16 17:05] JP-from-Postman opened #95 "Error importing openapi 3 .yaml file --- no errors in command line"
Attempting to import the openapi 3 .yaml file below (through either the Postman API, or app), results in an error:

[spec.yaml.zip](https://github.com/postmanlabs/openapi-to-postman/files/3398200/spec.yaml.zip)

The file appears to validate successfully via https://editor.swagger.io. Converting the file via the command tool is successful, but importing the .json file it creates shows the Collectio

[2019-07-19 19:11] keth opened #98 "OpenAPI import not respecting Read-Only Properties"
For some endpoints, I have the same schema for GET and POST and use the property readOnly: true to determine if POST property should be shown or not.
See readOnly https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md

It looks like Postman is not respecting the readOnly property and is displaying all properties in the schema.

[2019-07-22 12:57] abhijitkane commented on #80
Duplicate of https://github.com/postmanlabs/openapi-to-postman/issues/44

[2019-07-22 15:34] twaalewijn opened #101 "Importing OData requests with key segments through OpenAPI document results in unusable Path Variables"
**Describe the bug**
I have an ASP.NET Core service that uses OData and exposes an OpenAPI endpoint with the help of [this library](https://github.com/Microsoft/OpenApi.Net.OData).

The output of this endpoint is an OpenAPI document serialized to JSON.

Using a theoretical model of two entities:

- project (with key project_id)
- subproject (with composite key project_id, subproject_id)

The docum

[2019-07-24 09:11] abhijitkane commented on #95
@JP-from-Postman The latest importer will be added to Postman soon. I'm able to import in our internal build. Can you mention the exact folder name / URL issues you're seeing?

[2019-07-25 10:34] Dhroov7 opened #102 "Showing undefined if an OpenAPI spec has no description or contact object in info object"
Resulting collection description is undefined as this spec has no description.

**As per OpenAPI spec title and version is required in info object. Rest are optional**

Resulting Output:
<img width="1440" alt="Screenshot 2019-07-25 at 3 50 05 PM" src="https://user-images.githubusercontent.com/18377905/61867392-b6954580-aef4-11e9-8d91-7b992556a144.png">

OpenAPI Spec:

[code]

[2019-07-26 22:56] JP-from-Postman commented on #95
@abhijitkane

**URL issue**
Lines 60 - 67 in file:
[code]
When imported, becomes: `{{baseUrl}}/:value_set_id/`

**Empty folder name**
Lines 10 - 22 in file:
[code]
Creates a folder with no name when imported. Looks like this may actually be expected behavior, since there is nothing after the `/` in path

[2019-07-26 23:03] JP-from-Postman opened #104 "Error importing openapi 3 file: too many requests"
Importing .yaml file throws error in devtools: `too many requests`

Log file attached:
[import.log](https://github.com/postmanlabs/openapi-to-postman/files/3437579/import.log)

Converting via command line tool, then importing, is successful.

@abhijitkane See internal note.

[2019-07-29 20:59] cjlotz commented on #29
Any feedback on whether this bug will be fixed?

[2019-07-30 22:06] winsome commented on #95
I'm also seeing a similar error when importing a basic openapi 3 yml file.

Here's a minimal example to reproduce.
[code]

If I change the path to `/meta` it imports. If this is fixed in an internal build, is there a better timeline than "soon" on when the new importer will be added to Postman?

[2019-08-05 09:58] Dhroov7 commented on #98
@keth Thanks for reporting the issue.
Can you provide the spec file from which you are getting this error?

[2019-08-12 13:31] abhijitkane commented on #44
This is fixed in v0.0.16, and this is included in Postman v7.5.0.

[2019-08-12 13:31] #44 closed

[2019-08-12 18:27] brpeterman opened #108 "Schema placeholders should use example values"
### Example API spec

[code]

### Versions

* OpenAPI: 3.0.1
* Postman: 6.7.4
* OS: macOS 10.12.6

### Problem

When converting a spec like the one above, I get a placeholder body for my request. Great! Unfortunately, the data in it is junk:

[code]

This happens to parameter values and headers, too.

This is annoying because my API provides useful example values and they all get lost when I impor

[2019-08-14 10:34] #90 closed

[2019-08-16 07:12] abhijitkane commented on #69
@marcoMobilab Can you provide an example? For style, I see `Describes how the parameter value will be serialized depending on the type of the parameter value` in the OAS spec. Didn't see any mention of not adding these to the query params.

[2019-08-16 07:14] abhijitkane commented on #31
@drjonnicholson Are you talking about any parameters that don't have `required: true` being added to the request/collection, but in the disabled state?

[2019-08-16 14:41] abhijitkane commented on #108
@brpeterman - Interesting. Our idea here is to support both documentation (https://learning.getpostman.com/docs/postman/api_documentation/intro_to_api_documentation/) and mock servers (https://learning.getpostman.com/docs/postman/mock_servers/setting_up_mock/) with the collection that's generated.

One solution could be to use `<string>` in the request body, so that the documentation makes sense,

[2019-08-16 20:21] brpeterman commented on #108
Yeah, that sounds like it would be perfect.

[2019-08-18 12:00] Isengo1989 commented on #86
Is there a timeline set already for this to be fixed?

[2019-08-19 12:23] abhijitkane commented on #87
@bpearson We don't support multi-file schemas yet. References in the same file are supported: `$ref: '#/components/...'`, for example.
Handling multi-file schemas will be a major change that we'll try to take up soon.

[2019-08-19 22:44] bpearson commented on #87
Cool, very interested in this change

[2019-08-31 15:39] Vi-E commented on #108
From the first moment I tried Postman, i missed this "feature". I think it is much more than just a feature that is missing. It is much needed functionality. Only with this functionality you can use the examples that you manage with OpenApi. Otherwise you would have to enter all values by hand again, and always change the values in two places. This makes no sense, just a lot of work and mistakes.

[2019-09-01 08:53] #88 closed

[2019-09-05 12:58] PetraRouvoet commented on #3
is there any progress on this?

[2019-09-13 16:03] daraul commented on #56
I'd love to be able to define my postman/newman tests in my openapi spec, then have them brought into my collection after conversion.

[2019-09-16 08:01] marcoMobilab commented on #69
@abhijitkane The following is a description of a possible usage of the free form query parameters (with an example, I will also explain what is the current limitation using the query params.

The OpenAPI free form query parameters are quite useful to notify the user that the endpoint supports custom query parameters (a description can also be useful to define the context). Using the previous OpenA

[2019-09-16 22:57] deefactorial opened #113 "default values don't convert for zero and description is missing for path"
When I convert the following yaml file the default value's of zero don't get converted, probably a falsy condition somewhere.

and

Description is converted to `[object Object]` for path variables.
[code]
![image](https://user-images.githubusercontent.com/4856696/64998790-5be7ec80-d89a-11e9-8bd0-5af5dcbd9e93.png)

[2019-09-16 23:02] abhijitkane commented on #104
@JP-from-Postman End user reported this closed

[2019-09-16 23:02] #104 closed

[2019-09-18 19:47] Dhroov7 commented on #102
Resolved in 7.7.0!

[2019-09-18 19:47] #102 closed

[2019-09-18 19:48] Dhroov7 commented on #98
Resolved in 7.7.0!

[2019-09-27 10:19] abhijitkane opened #117 "While importing OpenAPI, descriptions for body params (urlencoded) are not maintained in the collection"
Consider a section on the Stripe OAS spec:

[code]

In the generated collection, the request body just includes `amount: <integer>`, but the description isn't maintained.

[2019-09-29 19:14] drjonnicholson commented on #31
Yep. I think the most common use of an endpoint is to have no parameters provided (except for required ones). It would highlight which things are necessary to hit an endpoint and reduce time from import to use (in some cases we had something like 10 parameters to disable, all being optional, plus some optional headers)

[2019-10-01 09:14] abhijitkane commented on #95
@winsome This should import successfully in the latest production version of Postman.

[2019-10-01 09:14] #95 closed

[2019-10-01 09:18] #92 closed

[2019-10-03 18:38] brpeterman commented on #108
@pauloallex24 I am not working on a contribution. You'll have to ask @abhijikane.

[2019-10-10 09:03] menecio commented on #31
@abhijitkane even if they are declared as `required: false` the result is the parameter enabled by default in Postman. This would be a very welcome enhacement.

[2019-10-10 11:13] pauloallex24 commented on #56
+1

[2019-10-24 17:13] louisl opened #124 "This seems to run out of memory if a schema model has a circular dependency"
I guess it doesn't know where to stop with a circular reference, so maybe a depth option could be included some way or maybe if it $refs a schema go no further?
eg.
[code]

[code]

[code]

[2019-10-30 08:22] sergehardy commented on #87
It seems to me that it used to work up to version 0.0.12, at least with local files.

[2019-11-07 18:40] harshpat opened #126 "Postman does not handle multiple content types headers from open api specs"
Swagger open api specs has multiple ContentType for same URL.
Should postman duplicate URLs per content-types, instead of just showing one content-type in headers which is at top ?

![Capture](https://user-images.githubusercontent.com/1200119/68417116-a4a97c80-014a-11ea-9dc7-c9629a8ba813.PNG)

![Capture2](https://user-images.githubusercontent.com/1200119/68417221-d91d3880-014a-11ea-968b-d347b96b24

[2019-11-08 03:21] josnidhin commented on #38
I am currently using the v7.10.0 and it has the this issue when there are references in query parameters

[code]

[test-1.0.0-swagger.yaml.txt](https://github.com/postmanlabs/openapi-to-postman/files/3822843/test-1.0.0-swagger.yaml.txt)

**Steps To Reproduce**
* Import the attached YAML
* Open `GET /inventory`
* See the error in address bar and query params.

**Expected behavior**
The parser shoul

[2019-11-22 07:20] abhijitkane opened #128 "Importer crashes on most systems while importing certain types of schemas"
Importing https://raw.githubusercontent.com/microsoftgraph/microsoft-graph-openapi/master/v1.0.json (which is a valid OAS spec), crashes the importer due to a circular reference of some sort.

[2019-11-26 19:46] SCORPIO12 opened #130 "Unable to extract attendance data in JSON postman"
I am trying to get data of attendance API from zoho people in postman application .. so for this i already get access token and now i am trying to access all data ..

I tried this link and paste in get

https://www.zoho.com/people/help/api/attendance-api.html

image

but this shows me an error .. here is only empid .. and i want all data in bulk so how i get this any idea kindly check image

https

[2019-11-27 21:46] lrobledo opened #131 "Base URL being ignored"
My openapi spec does not include `servers[0].variables`.
Currently, in `utils.js` the function `convertRequestToItem` checks if `pathVariables` exists. If it doesn't it puts in the default `{{baseUrl}} + reqUrl` (around line 1440)

This means that since I do not include any server-specific variables my base URL gets wiped out upon conversion.

Is there a reason we'd want to ignore the base URL pro

[2019-11-27 22:17] lrobledo opened #132 "duplicate query params"
Example spec:

[code]

Results in duplicate query parameters showing up in the URL as shown here:

![image](https://user-images.githubusercontent.com/18466880/69762940-f1202080-1128-11ea-9244-ec1362ccadd7.png)

[2019-12-02 21:49] JP-from-Postman opened #133 "Period (.) not converted to "/" in request path"
Example .json below:

[code]
with parameters
[code]

`/send-sms.{format}` converts to `/send-sms.:format`

[2019-12-05 09:11] abhijitkane commented on #133
@JP-from-Postman Unclear about the issue here. What should the intended behavior be? The title mentions `/send-sms/format`, but I see no reason why this should be the case.

Since Postman doesn't support parts of a path segment to be delimited as path parameters, we'll have to deal with this case differently (add format as a collection variable, and set the URL to `/send-sms.{{format}}`, for examp

[2019-12-05 09:15] abhijitkane commented on #130
Closing as this is unrelated to OpenAPI

[2019-12-05 09:15] #130 closed

[2019-12-05 09:19] abhijitkane commented on #126
@harshpat I'd agree using the first one isn't ideal. What's the use-case of different types of request payloads for different content-types? How different would the different schemas be?

We could use JSON>XML>Text as the priority order while determining what request body to use for the main request.

We use Postman's examples to define the various responses that this endpoint can generate. If the

[2019-12-05 09:21] abhijitkane commented on #124
@louisl We do have a limit of 20, but we're looking at bringing that down. Don't really see a case where a depth of 20 is needed while faking a schema. Can you provide any numbers around how much memory is used for the schema size you're working with?

[2019-12-05 10:46] louisl commented on #124
Thanks for the reply @abhijitkane

Let me try to explain a little better.

I'm writing this a little codey in places to try to illustrate what I think the problem is.

Almost all of my models (schemas) have createdByUserId and createdByUser as a relation. In my api I would choose to include that data if needed like this `/articles/1?includes=['createdByUser']` I'd get
[code]

This is fine from a c

[2019-12-06 16:22] schneivo77 opened #137 "Suggestion: Add to description if a parameter is optional or required"
Hi,

in my opinion it would be nice if the converter would add the information of a parameter if it's required or optional. It could be added to the description field of the parameter since there is nothing for this in the UI of Postman App yet as far as I know.

You can find the  *required: true/false* attribute  in the request parameters for example in this yaml file:
https://github.com/postmanl

[2019-12-06 21:19] JP-from-Postman commented on #133
@abhijitkane According to the user, the resolved path in Postman should be: /send-sms/format

[2019-12-06 22:50] codechito commented on #133
Hello,

are api specs says

[2019-12-17 13:24] stevenbal opened #139 "Property type is ignored when format is supplied"
Suppose I have the following in my OpenAPI spec:
[code]

When I convert my OAS to a Postman collection, I get the following in the successful response for the request:
[code]

In the body, for each of the properties, only the `format` is shown (which is `<uri>` for all three properties in this case), and the `type` is not shown at all (should be `<string>`).
I would have expected the body to look

[2019-12-30 10:48] xushunke commented on #38
+1 while importing APIs in openAPi3.0 format

[2019-12-31 05:51] abhijitkane commented on #133
Got it. We can't treat these as path variables (in Postman, path variables are a complete section of the URL).

The URL will have to be changed to `/send-sms.{{format}}`, and `format` added as a collection variable.

[2020-01-03 08:09] da9l opened #149 "Openapi-to-postman can no longer be executed from npx."
Current behaviour:
[code]
Expected behaviour:
[code]

[2020-01-05 10:45] kapilratnani opened #150 "Cannot import openapi 3.0 spec in postman"
I've an openapi spec generated using Stoplight which i am not able to import in postman. I found out that Postman internally uses this library to convert openapi to postman representation.

Following error is obtained by using this library.
[code]
It seems the issue is due to empty examples section which Stoplight produces.
[code]
I was able to import the spec after i removed the empty examples se

[2020-01-06 09:21] umeshp7 commented on #132
@lrobledo
I tried reproducing the above spec in Postman App: 7.14 and I could correctly generate a collection (without duplicate query params).
Could you please try it in the latest app?
I used the following spec:
`{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Title",
        "description": "Description"
    },
    "paths": {
        "/saveCard": {

[2020-01-06 14:14] schneivo77 opened #151 "Missing dependency 'async' in v1.1.3"
Hi,
in *v1.1.3* the package *async* is missing in the *package.json*.

I get the following error, when using *openapi-to-postman* without the package:

[code]

After I added
[code]
to the *package.json* everything works fine.

[2020-01-07 12:28] abhijitkane commented on #151
@schneivo77 Oops - thanks for pointing that out. Releasing an update in a while.

[2020-01-07 12:35] shreys7 commented on #149
#151

[2020-01-07 18:14] brucekaufman opened #152 "Link in same file not resolving correctly"
I am trying to convert an open API 3 spec to postman format.  Our API spec is defined in multiple files, and so I am using [speccy](https://github.com/wework/speccy) to resolve these into a single openAPI 3 file for consumption of open-api-to-postman.  For duplicated references, Speccy resolves the first one it sees and then inserts a link as follows:

[code]

Here is an abridged version of the pa

[2020-01-08 11:00] abhijitkane commented on #149
@da9l Can you update to v1.1.4 of the openapi-to-postman module? The missing dependency issue has been addressed.

[2020-01-08 12:07] umeshp7 commented on #151
@schneivo77 This is fixed in v1.1.4. Closing this issue now.

[2020-01-08 12:07] #151 closed

[2020-01-08 12:09] #149 closed

[2020-01-10 00:46] lrobledo commented on #132
@umeshp7 I figured out my issue. I was including it in the `securitySchemes` as well. Thanks for taking the time to look into this for me.

[code]

[2020-01-10 00:46] #132 closed

[2020-01-10 08:51] mzedeler opened #154 "Links not supported"
I think it would be very valuable if the generated documentation includes links to other operations (following the specification in openapi).

[2020-01-20 11:02] umeshp7 commented on #113
@deefactorial this is fixed on the latest version of Postman (v7.15).
Please try it out and let us know if the issue still persists.

[2020-01-20 11:02] #113 closed

[2020-01-20 11:03] #117 closed

[2020-01-20 12:06] #108 closed

[2020-01-20 12:11] umeshp7 commented on #108
@brpeterman this is fixed on the latest version of Postman (v7.15).
Please try it out and let us know if the issue still persists.

[2020-01-22 23:31] skplunkerin opened #158 "How to add or convert a Collection Pre-Request Script?"
How can I include a Collection Pre-Request Script?

I have a Collection Pre-Request Script that will setup a header for all requests made by my collection, but I can't find how to add this script into OpenAPI format to be converted correctly? OR is there a way the package can insert this script instead of adding it in OpenAPI?

Here's the script I'm wanting to include after running `openapi-to-pos

[2020-01-28 08:24] #150 closed

[2020-01-29 20:20] daithiscully commented on #89
This would be a very useful improvement for us too! Any update on it?

[2020-01-31 06:25] ganeshnikam18 opened #160 "Path level server object with variables is not handled correctly"
[code]

Here there is server object at path level with server variables. When we import this file in postman tool then the request url for '/pets' path is not generated correctly. The request looks like below:
![image](https://user-images.githubusercontent.com/11749677/73516657-2c87e580-441f-11ea-8cf5-d2308a6669e0.png)

Three issues in above request
1. The '/pets' path part is missing
2. In the pa

[2020-02-01 02:42] andrejreimer commented on #124
@abhijitkane We have the same Issue in a project I am currently working on. Resource user has an Attribute createdByUser which is also of type user. It is not possible to Convert our OpenApi to a Collection in Postman anymore.

Is there a chance to have an option integrated in postman to change the deepness to less than 20?

[2020-02-05 10:38] #137 closed

[2020-02-06 19:02] agent-reed commented on #86
Would love to see this feature implemented!

Setting a security scheme in OAS should auto-configure a collection to use that type of auth, as well as tell all endpoints to inherit from parent.   Importing a OAS spec with hundreds of endpoints is useless when I have to manually go through each of them to point auth to the same scheme.

[2020-02-10 16:28] schneivo77 opened #162 "schema is not defined crash in v1.1.7"
Hi,

an openapi definition which was converted with a warning in _v1.1.6_ now, in _v1.1.7_, fails and crashes the converter with the following error:

[code]

Here is the link to the line where it crashes in _v1.1.7_:
https://github.com/postmanlabs/openapi-to-postman/blob/0a66b5f701cf71531394573cf3dbb85ff31d580e/lib/schemaUtils.js#L170

I guess it's because the definition of `schema` object was re

[2020-02-14 20:39] #162 closed

[2020-02-20 16:40] davidPaymefy commented on #70
Any new on this?

[2020-02-24 09:11] umeshp7 opened #166 "Add JS Docs for all the functions"
Todo:
- Understanding of functions
- JS Doc description.
- Change eslint from `warn` to `err` for all JS doc rules.

[2020-02-24 09:29] umeshp7 opened #167 "Add unit tests for the functions in schemaUtils.js"
Add unit tests for the following:
`checkPathVariables`
`checkQueryParams`
`checkRequestHeaders`
`checkRequestBody`
`checkResponses`

[2020-02-24 09:36] umeshp7 opened #168 "Add depcheck"
https://www.npmjs.com/package/depcheck

[2020-02-24 09:41] shreys7 commented on #31
This can be provided behind an option `disableOptionalParameters`. When set to true, the collection imported in postman will have all optional parameters(not marked as required: true) in the disabled state.

[2020-02-26 17:02] apomalyn commented on #38
I'm having the same problem when it's a url reference ($ref: 'https://some.url/#components/schemas/Object).
I'm using the 7.19 version of Postman.

**Expected behavior**
The parser should follow all references (local and http)

[2020-02-28 08:42] get-thepacket commented on #166
Hi, @umeshp7
I'm new here can I take up this issue to make myself familiar with the workflow and thus start contributing and make my first PR.

[2020-02-28 13:37] schneivo77 opened #169 "'folderStrategy' option does nothing"
Hi,

I looked into [`lib/options.js`](https://github.com/postmanlabs/openapi-to-postman/blob/develop/lib/options.js) to find out which options exist beside [those mentioned in the docs](https://github.com/postmanlabs/openapi-to-postman#options) and saw the `folderStrategy` option:

[code]

But at the moment this option does nothing.
Is it not implemented yet or did you forget to do so? Because in

[2020-02-29 12:26] shreys7 commented on #166
yes. This is a very useful issue to make you understand the whole flow of the conversion. To add jsdocs to all the functions, you would need to understand what each and every function does, and hence it would help you get familiar with the code.

[2020-02-29 12:32] get-thepacket commented on #166
@shreys7 thank you for the response sir, I'd get to it right now.

[2020-03-01 00:01] sugam45 commented on #167
Hi, @umeshp7 can I work on this issue

[2020-03-01 15:59] umeshp7 commented on #167
Sure @sugam45.
You could start by understanding what the above-mentioned functions do, determine all possible types of inputs and outputs (test-cases) each of them can have and then start writing unit tests for those.
You can refer to the existing unit tests for this.

[2020-03-06 06:43] shreys7 opened #173 "Header not imported correctly in request examples"
For the following openapi schema, the headers are not being populated correctly in the request examples.
[code]
The example request shown in all the examples should have an `access_token` header. Instead, The first 5 examples doesn't have any header at all, and the sixth one has the `access_token` header 6 times.

Screenshots:
![Screenshot 2020-03-06 at 12 11 55 PM](https://user-images.githubuserc

[2020-03-10 07:08] #173 closed

[2020-03-15 10:53] ProBeta1 commented on #166
Updates @get-thepacket ?

[2020-03-16 13:02] Meemaw opened #182 "Support URL as a source"
It would be nice if the CLI supported URLs as a source for the openapi spec, e.g:

[code]

[2020-03-16 13:54] liyingxiu commented on #182
@umeshp7  @abhijitkane Hi, I'm new here, can I work on this feature?

[2020-03-18 12:15] ProBeta1 commented on #168
Hi @umeshp7  , depcheck needs node.js >= 10 but I am afraid [the code](https://github.com/postmanlabs/openapi-to-postman/blob/c638db16697db7670dc2f185c133eb2f8ca26c90/package.json#L112) allows much older versions ! What should be done ?

[2020-03-18 13:57] VibhorCodecianGupta commented on #167
@umeshp7 taking this up, PR underway soon

[2020-03-18 20:26] Gaboik commented on #87
I've found a setup that I find convenient for accomplish this meanwhile.

I added a bash script that I call from my `package.json`.
In the bash script I do:
[code]

Using this module
https://www.npmjs.com/package/json-yaml-ref-resolver

Of course you can also install the module locally but I preferred to have it installed as a dev dependency.

[2020-03-19 06:25] ProBeta1 commented on #89
May I try to slay this bug @umeshp7 ?

[2020-03-19 15:21] umeshp7 commented on #89
Go ahead @ProBeta1. Should I assign this to you?

[2020-03-19 18:22] ProBeta1 commented on #89
Okay @umeshp7 :)

[2020-03-23 10:07] umeshp7 commented on #152
For now, we only support references that are in `components`. Inter-path refs are not supported at the moment.
Having said that, we have recently released support for Multi-file schemas. So if you are using the App (>7.19) You could try uploading the folder containing all the files of this multifile schema.
@brucekaufman

[2020-03-23 18:08] ProBeta1 commented on #89
Was bit busy with the gsoc proposal work, hence the delay .
So here is what I think is the cause of bug : [`  getExampleData()`](https://github.com/postmanlabs/openapi-to-postman/blob/c638db16697db7670dc2f185c133eb2f8ca26c90/lib/schemaUtils.js#L809) , this function is made to return only first example from the input map , because it is used by the function [convertToPmBodyData](https://github.com/

[2020-03-25 18:04] joaopedro-simbiose opened #186 "Error while using "openapi2postmanv2" as a CLI tool"
Hello, Postman team!

I've tried to use the **openapi2postmanv2** as a cli tool.
I've only installed the application using the following command:

`npm install openapi-to-postmanv2`

The output for this command was:

[code]

But when trying to execute **_openapi2postmanv2 --test_** on the command line, I get this error:
`zsh: command not found: openapi2postmanv2`

The command is not being created

[2020-03-31 22:15] timlukasiewicz commented on #34
Even better would be if this could handle multiple securitySchemes in the OpenAPI spec and map each to a different variable/environment variable.

[code]
[code]

[2020-04-03 10:49] CiotkaCierpienia opened #193 "schema.minItems and schema.maxItems problem"
Hello,

I'm one of the developers of Flotiq, and we use this package to generate Postman collection dynamically after the user makes changes to their API, but it generates with one issue. We sometimes require only one element in an array (it is described in maxItems in the schema of the parameter), and it is validated on POST and PUT requests.
However, this package always generates an array with 2

[2020-04-07 13:43] brucekaufman commented on #86
Has there been any progress on this?  Hugely frustrating to have to manually set every endpoint after we export.

[2020-04-09 09:43] #133 closed

[2020-04-13 11:09] #152 closed

[2020-04-15 05:22] #101 closed

[2020-04-15 09:11] umeshp7 commented on #29
I am getting the following when I import the above schema:
<img width="794" alt="Screenshot 2020-04-15 at 2 25 39 PM" src="https://user-images.githubusercontent.com/31915995/79318796-11f4e100-7f25-11ea-8d23-7c292d6e929c.png">

And the variables are correctly respected if I try to send the request
<img width="826" alt="Screenshot 2020-04-15 at 2 25 28 PM" src="https://user-images.githubusercontent.

[2020-04-17 13:09] fionaom commented on #57
Any update on this?

[2020-04-20 17:30] alexibz opened #204 "Support of path variables?"
I've tried to generate a postman collection from an open api v3 spec, and the Path variables show up as `<string>`, is there a way to have them as a postman variable instead, i.e. {{appId}}?

![image](https://user-images.githubusercontent.com/54906681/79781212-2103d680-830b-11ea-8f40-0a3b75256052.png)

[2020-04-21 11:03] #131 closed

[2020-04-22 03:03] FabienDeborde commented on #57
I would love to see this implemented too!

[2020-04-23 10:15] abhijitkane commented on #154
@mzedeler Thanks - would it be possible for you to provide an OAS spec that you use (that has links)? I'm aware of the feature - I wanted some more insights into what are the exact workflows it enables.

[2020-04-23 11:59] mzedeler commented on #154
I'm sorry - I have changed project and no longer work with OpenAPI related issues. I will close this issue.

[2020-04-23 12:00] #154 closed

[2020-04-24 09:25] jez9999 commented on #70
I've just come across this bug too.  It's absurd; inherit from parent is meant to be the default for a reason.  Why on earth would you set the default to no auth?  What kind of an API doesn't require authentication?

[2020-04-24 10:21] abhijitkane commented on #73
@reinouts We're working on configurable imports - these will let you select how you want parameters to be generated (whether from the schema, or from the examples). This should solve your use case - I'll post an update here when the feature is released.

[2020-04-25 00:29] FabienDeborde commented on #86
We just moved from Stoplight to Postman, and found that there are still multiples features of OpenAPI 3 that are not yet supported.
It would be great to be able to know if the problems are at least being worked on. It seems there hasn't been much reaction from the Postman team on a few issues :(

[2020-04-27 09:44] abhijitkane commented on #204
@alexibz The `<string>` bit is useful in documentation generated from the collection (https://learning.postman.com/docs/postman/api-documentation/documenting-your-api/). We could expose an option where the user can choose what the generation should look like.

Is `appId` a parameter that will have the same value across multiple requests?

[2020-04-27 09:56] abhijitkane commented on #182
@Meemaw could you elaborate what you mean by source? How should the `http://localhost:8080/openapi` be represented in the final generated collection?

[2020-04-27 10:04] abhijitkane commented on #169
@schneivo77 Apologies - this option was incorrectly merged. We're removing this for now, and working on completing the actual feature branch.

[2020-04-27 10:05] abhijitkane commented on #168
@umeshp7 Can you expand the issue title/description?

[2020-04-27 10:08] abhijitkane commented on #158
@skplunkerin Is there a similar workflow in the other tools that you use that supports something similar?

We could explore Postman vendor-extensions in OAS that allow you to specify a `X-Postman-PreRequestScript` in your OpenAPI document, that's included as a pre-request script in the generated collection.

[2020-04-27 10:19] abhijitkane commented on #139
@stevenbal Collections in Postman have multiple use-cases:
1. Executing requests as-is
2. Modifying and executing requests
3. Documenting the collection (https://learning.postman.com/docs/postman/api-documentation/documenting-your-api/)

During OAS->Collection generation, we try and ensure we cater to most of these use-cases. For something like `{"type": "<string>", "format": "<uri>"}`, my concern

[2020-04-27 10:21] Meemaw commented on #182
As I see it right now, you need to pass a file to the CLI. Another option would be to pass an URL which is exposing the spec. So, internally you could fetch the specification from the URL to local folder and just use your existing logic.

[2020-04-27 10:23] abhijitkane commented on #77
@chenrui333 Ideally it should have been without the v2, but at this point I wouldn't want to rename the module. We have dependencies to this module in a number of internal systems, and there's no immediate benefit to renaming.

[2020-04-27 10:23] #77 closed

[2020-04-27 10:27] abhijitkane commented on #124
@andrejreimer We're looking to include this in the next Postman release. @louisl We're working on configurability that will let you specify the depth of schemas to follow.

[2020-04-27 10:29] abhijitkane commented on #82
@ryparker This will be included as an option in the next Postman release - you'll be able to choose b/w schema or example as the source of parameter values in Postman.

[2020-04-27 13:54] alexibz commented on #204
Yes, I've learned the correct term would be `placeholder`. It would be very helpful if a user can generate placeholders for some variables, similar to how right now it is for `{{baseUrl}}`.

[2020-04-27 13:59] skplunkerin commented on #158
@abhijitkane I was actually thinking the same thing about using [OAS vendor extensions](https://swagger.io/docs/specification/openapi-extensions/) for this, and other Postman specific things.

Right now I'm currently breaking OAS validation by adding a non-supported component (not related to PreRequest Scripts) that I need for Postman, but OAS doesn't recognize. It would be really nice to have mul

[2020-04-27 18:51] abhijitkane commented on #30
@drjonnicholson I've been trying to find a proper way to do this, but haven't yet. We cannot assume the 200 to be the default type - we're effectively randomly choosing one behavior over many. I'm afraid I can't accept this PR at this point. Thanks for letting me know about this issue, though.

At this point, I can only suggest using the CLI built from your local branch of this repo, where you've

[2020-04-27 18:51] #30 closed

[2020-04-27 20:21] ryparker commented on #82
Fantastic! Thank you.

[2020-04-28 10:24] #169 closed

[2020-04-28 10:24] umeshp7 commented on #169
Fixed in #200

[2020-04-30 07:19] VShingala opened #208 "OpenAPI Multi-file schema containing spaces in folder name not being importer correctly using Import via Folder"
Importing multi-file schema fails when the path to chosen folder contains spaces in them. I get the following error.

[code]

As multi-file schema without spaces in path imports successfully and RAML 1.0 multi-file schema with spaces in Path is being imported successfully, this must be issue with resolution of path in OpenAPI module.

[2020-05-01 19:42] umeshp7 commented on #87
@bpearson
We now support multi-file schemas. You could try using the module with the following input - `{type: 'folder', data: [array of files]}` .

[2020-05-01 20:04] #29 closed

[2020-05-04 07:43] VShingala commented on #57
Hi Everyone, We are working on introducing this feature with an option.

As you know current implementation groups requests based on paths, now when implementing this grouping based on tags, According to you should requests that does not have any tags be included as request under collection (Many documentation tools uses this i.e. SwaggerHub, ReDoc. see [example](https://redocly.github.io/redoc/?u

[2020-05-04 07:43] VShingala commented on #3
Hi Everyone, We are working on introducing this feature with an option.

As you know current implementation groups requests based on paths, now when implementing this grouping based on tags, According to you should requests that does not have any tags be included as request under collection (Many documentation tools uses this i.e. SwaggerHub, ReDoc. see [example](https://redocly.github.io/redoc/?u

[2020-05-06 08:32] prabago commented on #186
Hello, Postman team!

Any update on that?

Thanks in advance!

Regards.

[2020-05-06 19:01] lrobledo commented on #3
Any chance you'd want to just throw an error? I use https://speccy.io/ to validate my OAS 3 schema and its default settings require that each request contain at least one tag.

I think if someone is trying to group by tag they'll want to have a tag for each path.

[2020-05-07 06:34] VShingala commented on #3
@lrobledo While understand how it could be useful but as [OpenAPI Spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#operationObject) defines tags prop as optional, Doing this implementation would lead to confusion for many users.

We have decided to go with the first flow, where requests that does not have any tags will be included as direct request under collection

[2020-05-10 10:00] abhijitkane commented on #124
@andrejreimer We've stopped following circular refs to a depth of more than 1. Non-circular references are still followed. You should be able to import your schemas in Postman now.

[2020-05-11 18:10] shreys7 commented on #186
@joaopedro-simbiose @prabago you need to install the package globally to use it as a CLI tool. Use the following command to install the package globally
[code]

Alternatively, if you are on npm version >= 5.2, you can use the following command to directly use openapi-to-postmanv2 package as a CLI tool using npx
[code]

[2020-05-11 18:10] #186 closed

[2020-05-11 18:35] lrobledo commented on #3
Makes sense! Excited for this feature!

[2020-05-12 07:07] VShingala commented on #208
Highlighting issue further, Import folder flow is not able to pickup folder and resolves one main/root OpenAPI file as single file schema which imports successfully as single file schema but without resolution of `$ref` object.

[2020-05-12 13:04] prabago commented on #186
Thanks shreys7!!
Works fine!

Regards!

[2020-05-13 00:57] ruiper commented on #14
Has this issue actually been resolved or is the only way around it as described by syndic8myles at the end of this thread?

[2020-05-17 07:59] shreys7 commented on #82
With Postman 7.24.0, we have added support for configurable options for OpenAPI, GraphQL, Swagger, and RAML imports. For using example values in the request instead of schema, you can use the Request parameter generation option. Set its value to example and the collection will pick the example's value if provided.
The options are available in the Import flow. Click on Import button on top left ->

[2020-05-17 07:59] #82 closed

[2020-05-17 17:16] goldendomaincom opened #214 "permition and license"
$ ACCESS_TOKEN=

$ curl \
  -X GET \
  -H "Authorization: Bearer $ACCESS_TOKEN" \
  https://platform.segmentapis.com/v1beta/workspaces
Example response:

{
  "workspaces": [
    {
      "name": "workspaces/myworkspace",
      "display_name": "My Space",
      "id": "e5bdb0902b",
      "create_time": "2018-08-08T13:24:02.651Z"
    }
  ],
  "next_page_token": ""
}

[2020-05-17 18:13] goldendomaincom opened #215 "g"

[2020-05-17 18:15] goldendomaincom commented on #215
1 parent 5cca4ec commit c54c191a09571dc65c09b49c6aba6c80ce82010b

[2020-05-17 18:15] goldendomaincom commented on #215
1 parent 5cca4ec commit c54c191a09571dc65c09b49c6aba6c80ce82010b

[2020-05-17 18:20] goldendomaincom commented on #214
1 parent 5cca4ec commit c54c191a09571dc65c09b49c6aba6c80ce82010b

[2020-05-17 18:22] goldendomaincom opened #216 "1 parent 5cca4ec commit c54c191a09571dc65c09b49c6aba6c80ce82010b"
1 parent 5cca4ec commit c54c191a09571dc65c09b49c6aba6c80ce82010b

[2020-05-20 02:31] codeninja55 commented on #89
+1

Has this been fixed?

[2020-05-21 15:47] namtab00 commented on #57
@VShingala this seems already merged, but still here's my feedback..

Maybe it should do both:

- under a root UI node **Folders**, create folders from paths
- under a new root UI node **Tags**, also create a flat list (no hierarchies), that show all requests with a given tag

[2020-05-28 23:40] kevinswiber opened #220 "Tracking Request IDs across Collection generator executions."
Postman users/customers are looking to integrate the generated output from the openapi2postmanv2 CLI in their CI/CD pipelines.

This works well and good.

However, a workflow that's gaining usage is to maintain a pristine copy of a Postman Collection that maps directly the OpenAPI definition.  Changes happen inside Postman only through forks of this Collection.  Updates to the pristine Collection

[2020-05-29 08:42] arlemi commented on #3
This was released with the latest version of the app (7.25). Closing this issue. 🙂

[2020-05-29 08:42] #3 closed

[2020-05-29 08:43] arlemi commented on #57
This was released with the latest version of the app (7.25). Closing this issue. 🙂

@namtab00 I would recommend opening a new feature request on allowing both at the same time.

[2020-05-29 08:43] #57 closed

[2020-05-29 08:43] #193 closed

[2020-05-29 08:52] namtab00 opened #221 "When importing OpenAPI use both tags and paths"
Opening a downstream of https://github.com/postmanlabs/openapi-to-postman/issues/57
see https://github.com/postmanlabs/openapi-to-postman/issues/57#issuecomment-635851774.

When importing an API with tags:

- under a root UI node **Folders**, create folders from paths
- under a new root UI node **Tags**, also create a flat list (no hierarchies) of tags, each showing all requests with the current t

[2020-05-30 15:40] thim81 commented on #56
Idea: Would a good approach be to generate "basic" tests, that can be defined in a config file?

[2020-05-30 23:37] thim81 commented on #56
I started on a PR for generating basic tests. I'll make the generation configurable.

[2020-06-01 07:50] #86 closed

[2020-06-01 09:45] thim81 commented on #56
I think I added the feature in my PR #223

Feel free to review the proposal and give feedback.

The feature proposal contains 2 implementations:
1) Provide the option to generate real basic response postman tests, generated/added based on the OpenApi spec file. (Success status check /  Response time check / Content-type check / JSON schema validation (based on the OpenAPi components) / JSON body c

[2020-06-04 08:29] ElePhontitis commented on #70
This is really annoying. Just had to manually set "inherit from parent" on 98 requests...  A fix would be highly appreciated.

[2020-06-04 08:43] ElePhontitis commented on #70
For everyone who is also struggling with this, here is a little workaround: Export your "No Auth"-Collection to a postman collection, open the resulting "your-collection.json" and replace every appearance of `"type": "noauth"` with `"type": "inherit"`. Then import the edited collection and you are ready to go.

[2020-06-04 08:50] jez9999 commented on #70
Trouble is, I do have several operations on my API that really are no auth.  The only proper solution is for Postman to set "inherit" when the original JSON doesn't specify auth.

[2020-06-04 09:00] umeshp7 commented on #214
@goldendomaincom Didn't quite get the issue here. Could you please elaborate on it a bit more?

[2020-06-04 09:02] ElePhontitis commented on #70
@jez9999  And your API does care if a no auth operation is called authenticated? In that case this is of no help...

[2020-06-04 10:46] kohlerdominik commented on #38
I can confirm this issue. While SwaggerUI follows the reference to another file, Postman does not. (using Import from Link). Can this be re-opened or should we rather create a new issue? @abhijitkane

[2020-06-04 12:11] kaitoqueiroz commented on #57
There are any configuration in the app to organize the folders using `Tags`?

I'm trying to generate the collection using the "Generate Collection" app feature from APIs.

[code]

The folder name is resulting `/auth` instead of `Authorization`

![image](https://user-images.githubusercontent.com/1447491/83754764-cf21d080-a66c-11ea-9ea1-ce5ff5156f04.png)

[2020-06-04 12:29] VShingala commented on #57
@kaitoqueiroz Currently configuration are present in Import flow only for Postman v7.25 or higher.

To import your API go to Import button on top left corner. You can select appropriate method and once done below configuration UI should show up. Select Tags for **Folder organization** option there.

<img width="789" alt="Screenshot 2020-05-22 at 5 55 14 PM" src="https://user-images.githubuserconte

[2020-06-04 17:42] bbruyn commented on #208
Somehow related to [this issue](https://github.com/postmanlabs/openapi-to-postman/issues/38) which has been closed but with comments (going back to November 2019) that it's still broken?

[2020-06-04 17:45] bbruyn commented on #38
Also confirmed in Version 7.25.0

[2020-06-05 10:56] thim81 commented on #204
@alexibz

I have faced the same problem, so I create a PR https://github.com/postmanlabs/openapi-to-postman/pull/231 to solve this by using the configuration options "example/schema".

If you have remarks or issues let me know.

[2020-06-05 15:00] thim81 commented on #31
@shreys7

I tried this option but I dont see any difference in my postman Collection that is generated?
Is this option available?

If I debug the "options" in the library, I only get the following:

[code]

[2020-06-06 09:52] thim81 commented on #182
You could also achieve this by just using the OpenApi properties:

[code]

This will make a Postman variable out of the "baseUrl", which you could fill in via the a Postman environment variable.
![image](https://user-images.githubusercontent.com/952446/83941476-f2bf5500-a7eb-11ea-8414-770a90eb2377.png)

If this is not desired, then the following option could developed in a PR:

## Set the desired

[2020-06-06 11:10] thim81 commented on #47
@abhijitkane

I face similar issue.

Flow:
- `OpenApi.spec` (validated by spectral) > convert useing openapi-to-postman = `generated_postman.collection`
- Postman API using the `generated_postman.collection`

I'm using this simple function to communicate with the API

[code]

Which results in the following errors:

[code]

While I can import the collection using the Postman Import option, without

[2020-06-06 11:24] thim81 opened #232 "Generated Postman collection is not matching with the Postman JSON schema - v2.1.0"
It seems that the Postman format that is generated, does not match the Postman Schema.

In the generated Postman collection, it shows `https://schema.getpostman.com/json/collection/v2.1.0/collection.json`:

[code]

But If I compare the generated Postman collection against the schema, it fails.

![image](https://user-images.githubusercontent.com/952446/83943007-e7265b00-a7f8-11ea-98a7-4d7f2cbe3d61.

[2020-06-06 11:26] thim81 commented on #232
This causes problems, when you try to import the Postman collection using the Postman API.
But it passes the import via the Postman App.

[2020-06-10 00:23] kevinswiber commented on #232
Yep, confirmed.

Error introduced here: https://github.com/postmanlabs/openapi-to-postman/pull/217/files#diff-bd50fb6a90352e7364306751ae0078c0R899

Schema for the invalid part: https://github.com/postmanlabs/schemas/blob/develop/schemas/draft-07/v2.1.0/collection.json#L30-L38

The fix should be as simple as changing that line to `return null`.

[2020-06-10 06:34] thim81 commented on #232
@kevinswiber

Am I correct to state that the fix would be:

[code]

with

[code]

Based on the diff: https://github.com/postmanlabs/openapi-to-postman/pull/217/files#diff-bd50fb6a90352e7364306751ae0078c0R899

[2020-06-12 08:44] #214 closed

[2020-06-12 08:44] #216 closed

[2020-06-12 08:45] #215 closed

[2020-06-12 10:38] #232 closed

[2020-06-12 14:43] umeshp7 commented on #19
As of Postman App v7.26.0 and openapi-to-postman v1.1.19
We have moved all the security definition defined at the global level to Collection level.
Here is the behavior:
- Global security scheme will be moved to Collection level (Right now only 1 of the definitions will be added to the Collection level auth).
- All the paths that do not have a security scheme defined will have Auth as 'Inherit Fro

[2020-06-12 14:43] #19 closed

[2020-06-12 14:56] umeshp7 commented on #70
As of Postman App v7.26.0 and openapi-to-postman v1.1.19
We have moved all the security definition defined at the global level to Collection level.

Here is the behavior:
- Global security scheme will be moved to Collection level (Right now only 1 of the definitions will be added to the Collection level auth).
- All the paths that do not have a security scheme defined will have Auth as 'Inherit Fr

[2020-06-12 14:56] #70 closed

[2020-06-12 15:05] umeshp7 commented on #160
Here is the new behavior:
The {{petsUrl}} was created but wasn't respected. Now it will be used instead of the `http://petstore.swagger.io::port/{{basePath}}?limit=`

<img width="387" alt="Screenshot 2020-06-12 at 8 33 40 PM" src="https://user-images.githubusercontent.com/31915995/84516900-1acb1e80-acec-11ea-9c8c-58c55bd883e4.png">

<img width="795" alt="Screenshot 2020-06-12 at 8 28 47 PM" src="h

[2020-06-12 15:05] #160 closed

[2020-06-12 15:13] umeshp7 commented on #73
@reinouts
As mentioned by @abhijitkane We have a whole new flow of for the IMPORT of OpenAPI and other schemas in our App. There are a bunch of configurations that you can do to customize the Collection that is generated. We encourage you to update to the latest version of the App and get back to us if you have any suggestions/concerns.

The above use case will be solved by the following Configura

[2020-06-12 15:13] #73 closed

[2020-06-12 15:34] umeshp7 commented on #221
@namtab00 Thank you for reaching out, would like to understand the use case a bit more here.
Could you give us an example of what such a collection would look like? Since, as per my understanding, there would be some amount of duplication of requests.
Any particular reason why such behavior is helpful for you?

[2020-06-12 15:41] umeshp7 commented on #182
@thim81
I am guessing what @Meemaw wants is that while running openapi-to-postman via CLI, we support fetching of a specification from a remote/local URL where the spec is hosted.
We download the spec for them and then use that to convert to postman-collection.

@Meemaw is that right, or did I miss something here?

[2020-06-12 16:36] namtab00 commented on #221
Example:
### routes
/controller1/action1    -  having tags: none
/controller1/action2    -  having tags: tag1, tag2, tag3
/controller1/action3    -  having tags: tag2

/controller2/action4    -  having tags: tag1
/controller2/action5    -  having tags: tag2, tag3
/controller2/action6    -  having tags: tag3

### post import tree:
[code]
where requests listed in the /tags subtree are mere pointers,

[2020-06-12 19:14] thim81 commented on #232
@umeshp7

The API upload still fails, even with the 1.1.19 release.
If I check the generated postman collection with Postman JSON schema v2.1, it also still fails.

[2020-06-13 06:55] umeshp7 commented on #232
@thim81 Could you share the a sample schema with us that is failing in v1.1.19.

This issue specifically fixes the bug introduced by the `auth: {}`. We are working on adding a suite of sanity tests that will verify the collection json once it is generated for all the sample schemas we have in our fixtures.

There are still some areas where we aren't conforming to schema and we will taking it up in

[2020-06-13 09:17] thim81 commented on #232
@umeshp7

I'm using the Postman Collection Format v2.1.0
https://schema.getpostman.com/json/collection/latest/docs/index.html

JSON Schema: http://schema.getpostman.com/collection/json/v2.1.0/draft-04/collection.json

Since that is schema that is generated in the Postman collection.

![image](https://user-images.githubusercontent.com/952446/84565126-4fc88700-ad67-11ea-94f7-e387b032fc4a.png)

Left:

[2020-06-13 12:14] thim81 commented on #56
For your information, the test functionality is being used in an CI pipeline and it works great for contract testing via Postman.

The flow is defined as following
1) OpenApi with examples and schemas
2) openapi-to-postman generates a postman collection with tests.
3) the postman collection ran with just setting an postman env. The examples from openapi are used in the postman collection. The open

[2020-06-13 17:57] umeshp7 commented on #232
@thim81
Actually will it be possible for you to provide us the OpenAPI spec that is resulting in a non-conforming schema. We are currently working on https://github.com/postmanlabs/openapi-to-postman/pull/234 to add sanity testing for all the collections generated from our data/valida_openapi folder.

It would be great if you could provide us with a sample OpenAPI spec that results in the above er

[2020-06-13 20:22] thim81 commented on #232
Hi @umeshp7

I have mailed you the OpenApi spec and the generated postman collection.
Let me know, if you need more information.

[2020-06-15 21:22] thim81 commented on #204
@alexibz

In the 1.2.0 release, the reworked this properly and path variables are now supported properly.

[2020-06-16 05:20] VShingala commented on #204
@thim81 @alexibz Just to clarify the fix is now available in this module itself. And it will be available in Postman Native App in upcoming release.

[2020-06-16 12:26] schneivo77 opened #240 "Option to disable faking of response values?"
Hi,

I've just noticed, that in the current version (v1.2.0) the example values which are unknown are replaced by random latin strings.
Is it possible to disable this behaviour? So that the example values which are known are still used for the responses but for the unknown the data-type is used as in previous versions?

Because I prefer it, if there is written for example `"timestamp": "dateTime"`

[2020-06-16 12:38] VShingala commented on #240
@schneivo77 You can apply following two option to keep using schema type as resolution for values instead faked example.

[code]

For more details on what this options does you can follow description [here](https://github.com/postmanlabs/openapi-to-postman/blob/develop/lib/options.js#L70).

[2020-06-16 13:05] schneivo77 commented on #240
@VShingala
Thanks for your answer. Yes, I've noticed this behaviour.

I'd still like to use the option *exampleParametersResolution: 'Example'* but **without** the generated Lorem ipsum strings for unknown or invalid values.
So for these values I'd like to have placedholders (\<integer\>, \<string\>, \<dateTime\> etc.), like in previous versions.

I think a *'Mixed'* option like this would be nice

[2020-06-24 06:54] thim81 commented on #56
@daraul @pauloallex24 @9fingerdev @abhijitkane I'm looking for some feedback on PR proposal.

Check https://github.com/postmanlabs/openapi-to-postman/pull/225 for details and some screenshots.

[2020-06-24 17:11] daraul commented on #56
Thanks, @thim81. I can't test right now, so I'll have to take your word for it until I can give it a proper test.

[2020-06-27 17:32] abhijitkane commented on #221
@namtab00 A workaround for now is importing twice, using the 'Folder strategy' option. At this time, Postman collections don't support references, and duplicate requests don't align with our product roadmap. Closing this issue for now - I don't see this being added to our roadmap anytime in the near future.

[2020-06-27 17:32] #221 closed

[2020-06-27 17:56] #87 closed

[2020-07-10 10:10] DannyEnsink commented on #82
Hi,

I'm using Postman for Windows Version 7.27.1 and I've noticed that when I'm defining examples for request headers and using the Generate Collection button in the upper-right corner to generate a collection to "Test the API", it puts "<string>" as value for the defined header, even though the example is defined, see below:

`    "paths": {
        "/api-call": {
            "get": {

[2020-07-10 12:03] DannyEnsink opened #255 "Generate Collection from (open)API specification doesn't give options to generate request parameter from example instead of schema"
Hi,

I'm using Postman for Windows Version 7.27.1 and I've noticed that when I'm defining examples for request headers and using the Generate Collection button in the upper-right corner to generate a collection to "Test the API", it puts `<string>` as value for the defined header, even though the example is defined, see below:

[code]

![image](https://user-images.githubusercontent.com/8476848/871

[2020-07-13 08:29] thim81 opened #256 "Release 1.2.2 tag - Question"
Hi,

I noticed that pretty much everything is there for the 1.2.2 release (changelog, packages.json, ...) but the Github release itself?

Is this forgotten or is this because there something not ready to be released?

[2020-07-13 11:29] umeshp7 commented on #255
Hello @DannyEnsink, thank you for reaching out. You are right and we are currently working on providing Configuration Options similar to that in the `IMPORT` flow for the `Generate Collection` flow as well. We will update you as soon as that is available.

[2020-07-14 10:51] #256 closed

[2020-07-14 11:55] tj-a commented on #208
Still seems to be an issue in in v7.28.0.

[2020-07-14 20:57] umeshp7 commented on #38
@kohlerdominik @bbruyn @apomalyn Thank you for reaching out.

Could provide us the exact steps to reproduce this issue? We do not yet support the external $refs: i.e. `https://some.url/#components/schemas/Object)` this will not work.

To import a multi-file spec you will have to choose the `IMPORT via Folder` option, where you will have to upload the entire folder where your multi-file schema resi

[2020-07-14 20:59] umeshp7 commented on #208
@tj-a @bbruyn

Could you share the exact issue you are facing?
The above issue was specifically for multifile spec with spaces in the folder name which is fixed in App v7.28.0.
To import multi file specifications in Postman you will have to use Import via Folder option and upload the entire folder where your multi-file schema exists.
Could you share a sample of the zip of the folder with multi-fil

[2020-07-16 10:34] abhijitkane commented on #204
The option to choose example/schema-based generation is now available in Postman.

[2020-07-16 10:34] #204 closed

[2020-07-16 14:42] xBATx opened #261 "It's not possible to reference components from another yaml files"
I tried to use the generator on my project, and when I execute:

[code]

I see a lot of these issues:

[code]

I have this component parameter - header that is shared across multiple definitions defined in another file. Is it somehow possible to import this parameter somehow or is it necessary to define all components in the file which is provided to generator?

[2020-07-23 05:28] abhijitkane opened #268 "Import failing intermittently"

[2020-07-23 05:40] #268 closed

[2020-07-23 17:28] apomalyn commented on #38
@umeshp7 with the `import via folder` option everything works.
But I think that should be a great option to be able to import from a single file that follows the `$ref` using URL. Maybe create an issue especially for that. 🤔
Also if you are open to other persons contributing to this project maybe add a `CONTRIBUTING.md` 😄

[2020-07-23 17:55] umeshp7 commented on #38
@apomalyn Sure. Sounds good. We'll add a CONTRIBUTING.md and have an issue to track development on external `$refs`.

[2020-07-23 21:36] xBATx commented on #261
It's possible to merge this file with references to the root using `speccy` command line tool, so I resolved that in a way that before import I merged all referenced yamls into one that I'm importing. This fixed my issue so closing this task.

[2020-07-23 21:36] #261 closed

[2020-07-30 17:03] alexibz opened #271 "Set the default Authorization Type to 'Inherit from Parent'"
It would be really nice if there was an option to set all the requests to have an authorization type of `Inherit auth from parent`

[2020-07-30 20:22] alexibz opened #272 "Linter setup"
I would like to contribute to the project, can someone please direct me at the linter being used? I'm using VScode and using ESlint creates a lot of lint errors when running the `npm run test-lint` script.

[2020-08-04 21:52] rockywarren-vertex commented on #220
I'd like to use this same workflow. @kevinswiber, were you able to get something working?

[2020-08-10 22:03] andrewsomething commented on #57
👋Is this option available for use with the CLI?

[2020-08-10 22:05] andrewsomething commented on #255
Would love to see this available as an option to the CLI as well.

[2020-08-11 06:18] thim81 commented on #57
@smshuja check out the PR https://github.com/postmanlabs/openapi-to-postman/pull/218

It provides a CLI manner with all the possible options explained

[2020-08-11 06:18] thim81 commented on #255
@andrewsomething check out the PR https://github.com/postmanlabs/openapi-to-postman/pull/218

It provides a CLI manner with all the possible options explained

[2020-08-21 08:47] DannyEnsink commented on #255
@umeshp7 I just updated Postman and it seems to be added. Thank you.

[2020-08-21 08:47] #255 closed

[2020-08-24 14:55] DannyDainton commented on #128
Hey @abhijitkane

Although it did take a while for it to fully import into the latest production version, I didn't see it crashing at all.

Is this still a valid bug?

[2020-08-26 19:26] NeraNodes opened #287 "Exporting from Postman and using openapi-to-postman does not give same result?"
When I import a Openapi yaml into Postman, and then export as Postman (2.1) Collection, the json looks different from how the json looks, when I use openapi-to-postman to convert to postman collection (Although both work when imported into Postman).

I am currently writing a script, which takes an older Postman-exported json collection.
Then takes a new Openapi yaml, converts it with openapi-to-po

[2020-08-27 14:53] VShingala commented on #272
@alexibz I am running same setup of VScode and [ESLint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint). And it does work for me, Can you check once that you have performed npm modules installation? (ESlint extension picks copy of eslint from your `node_modules` )

Sorry for late reply, If you were able to get it work, feel free to close thisissue.

[2020-08-27 14:57] VShingala commented on #271
@alexibz Did you mean that `Inherit auth from parent` to be set when no security scheme is mentioned for operation in OpenAPI spec, or just overriding security scheme mentioned in all operations in OpenAPI spec.

Currently we follow behaviour where if you have no security object mentioned for operation, Auth is set to `Inherit auth from Parent` and when security object is mentioned we handle that

[2020-09-01 05:41] VShingala commented on #38
@josnidhin For schema mentioned by you, After importing definition I was aable to see internal refs correctly. Could you confirm if issue is resolved for definition mentioned by you. I am using Native Postman App Version 7.31.1 (win32 / x64).

[2020-09-01 09:37] josnidhin commented on #38
@VShingala I had not checked this since I reported this issue. I just checked it using version `7.31.1` and yes the issue seems fixed.

[2020-09-02 07:54] Jeansen commented on #57
Hm, I do not have this one when I import my Swagger API (Verision 2) into Postman. My Version is 7.31.1 and I am on Linux. I can see all the other Options, except the Folder Organization.

[2020-09-09 21:32] vhawk19 commented on #167
@umeshp7 is this issue still available?

[2020-09-10 05:32] VShingala commented on #167
@vhawk19 WIP PR is open at https://github.com/postmanlabs/openapi-to-postman/pull/159, You can create separate PR or use that as reference PR for contribution.

[2020-09-10 10:16] VShingala opened #299 "Parameters are not validated correctly in validate transaction flow."
As mentioned in existing thread https://github.com/postmanlabs/postman-app-support/issues/8940#issuecomment-674543135.

Validation corectly validates transaction even when it is not following schema. For example transaction with integer as value as query param is validated correctly when schema mentions param to be `string/uuid`.

This is happening due to parmaeters only validated for type checkin

[2020-09-16 14:50] jez9999 commented on #70
@umeshp7 This behaviour still isn't useful to me - most of my endpoints do indeed specify an OAuth2 bearer token security scheme.  This means that most of my endpoints are still generated with "bearer token" as the auth, and no token set by default.  For each endpoint I have to manually set the token.  There needs to be some way of just always inheriting auth from parent.  If anything, it would be

[2020-09-16 14:51] jez9999 opened #301 "APIs Beta Generate Collection sets Authorization on requests to "Bearer token" with no token"
See issue #70

[2020-09-16 14:52] jez9999 commented on #301
@umeshp7 Opened this issue so there is an open issue for the problem.  As I said in the other issue:

This behaviour still isn't useful to me - most of my endpoints do indeed specify an OAuth2 bearer token security scheme. This means that most of my endpoints are still generated with "bearer token" as the auth, and no token set by default. For each endpoint I have to manually set the token. There

[2020-09-24 12:47] VShingala commented on #272
Hey @alexibz , I am closing this issue as a solution provided above should work. Feel free to open this issue if you face problems further.

[2020-09-24 12:47] #272 closed

[2020-09-28 12:59] VShingala commented on #208
Closing this issue as it's resolved now.

@tj-a @bbruyn As mentioned by @umeshp7, This issue is specifically regarding issues in OpenAPI import folder flow and it is resolved now. Also as mentioned in this [comment](https://github.com/postmanlabs/openapi-to-postman/issues/38#issuecomment-658409729), we are yet not supporting remote `$ref`. Feel free to open another issue with detailed information

[2020-09-28 12:59] #208 closed

[2020-09-28 13:10] VShingala commented on #168
@umeshp7 Need more detail on exactly what we will be implementing with this feature. Latest version that supports all compatible/supported version by our module is [depcheck@9.0.0](https://www.npmjs.com/package/depcheck/v/0.9.0).

[2020-09-28 13:17] VShingala commented on #31
@thim81 Yes, This option is not available yet. We will be picking this up soon.

[2020-09-28 14:19] VShingala commented on #69
@marcoMobilab Sorry for the delayed reply. Neat Idea !. As far as conversion goes `#1` makes sense, to not include free form query param from being included in the converted collection. I still don't have a clear idea of what you mean in the following statement.

[2020-09-28 14:33] VShingala commented on #124
Closing this issue as the fix is available.

[2020-09-28 14:33] #124 closed

[2020-09-28 14:38] VShingala commented on #139
@stevenbal Closing this issue for now. Feel free to reopen it if you have any further questions in mind.

[2020-09-28 14:38] #139 closed

[2020-09-28 19:36] alexibz commented on #271
Just overriding the security scheme mentioned in all operations in the OpenApi spec. The use case we have is that we have the same security schemes (basic auth and bearerToken) across all endpoints, but the "scopes" across the endpoints are different.

[2020-10-04 20:56] alexibz opened #305 "Publishing the generated collection"
In the postman app there's an option to Share the collection and then "Update public link". With the collection being regenerated with the library each time, is there a way to have the same "public link" be updated? Or maybe completely forego the UI, and have a command line option that would update the collection at that link?

[2020-10-08 05:13] auzwang opened #306 "Reaching Stack Limit on Modest Schemas"
My team and I are frequently facing converted schema values with the following error on schemas of modest sizes. A model with half a dozen nested properties result in:

We've noticed that the `stackLimit` is [hard-coded](https://github.com/postmanlabs/openapi-to-postman/blob/b5f9fb1c49c1b5293f0de0dc1526be57a437bb89/lib/schemaUtils.js#L263) based on a complexity score.

Is there a way to manipulate

[2020-10-15 21:26] mdaj06 commented on #89
@umeshp7 could i take this up?

[2020-10-15 21:28] mdaj06 commented on #31
@abhijitkane is this feature added if not i could try

[2020-10-17 07:36] k-byun opened #308 "Where should I store the yaml file?"
The sample usage on its third line has:
`openapiData = fs.readFileSync('sample-spec.yaml', {encoding: 'UTF8'});`

Which folder should "sample-spec.yaml" be stored at?  Would the sample code within Sample Usage to be used within pre-request Script or Tests in Postman?   Or is this meant to be used within Newman?

[2020-10-18 04:19] VShingala commented on #308
@k-byun This module is meant for converting OpenAPI specification to Postman collection, sample usage described is for using this module in nodejs code. The file mentioned in sample usage can be file path, read more [here](https://nodejs.org/api/fs.html).

As for conversion, you can convert your API to the collection in Postman App itself. Click on `Import` button on the top left corner and select

[2020-10-22 13:17] VShingala opened #309 "References outside components and paths are not resolved."
When OpenAPI spec contains `$ref` in it which is not under `components` or `path`, the generated collection fails to include information regarding it.

for example, In below example entire operation under path `/pets/{petId}` is not present in generated collection.

[code]

[2020-10-28 17:32] bruno-xo7 opened #310 "How to import AWS authorization at Collection level ?"
Hello,

I don't find a way to import my OpenAPI file with AWS authorization at Collection level to Postman. Is it possible to do this? If so, how do I do it?

What is missing from this example to have the AWS signature type in Authorization at Collection level ?
[code]

Thank you

[2020-10-29 21:52] kevinswiber opened #311 "Callbacks should be surfaced via documentation on the collection."
Right now, callbacks in an OpenAPI document are dropped and not documented anywhere in the collection.  It would be good to communicate their existence somewhere, perhaps in the top-level collection documentation.

[2020-11-05 15:30] ChristianHauwert commented on #287
Same general issue here. It differs quite much!

I think it is not promising that this issue is still open and no one did comment on it...

:-(

[2020-11-11 17:40] jpoehnelt commented on #126
There is also the case where there are multiple examples for a specific content type. Current behavior grabs the first example, `bar`.

[code]

[2020-11-22 12:50] marcoMobilab commented on #69
@VShingala with the second point I meant to say that the free-form query parameter could be a complex JSON object, with arrays, and inner objects.
But this is an optional feature, the main feature instead is to have the simple key-value free form parameters correctly handled.
Take the following as an example:

Parameters of the POST request to the "/users" endpoint:
firstName: Henry,
lastName: Lee

[2020-11-30 16:48] VShingala commented on #69
@marcoMobilab Yes, we have added support for serialization while conversion, this means all OAS defined styles are supported in params. For the definition provided by you mentioned behavior will be followed and For the given example try importing the below schema which should result in the mentioned behavior by you. (Make sure to use `Example` as value for `Request parameter resolution` option und

[2020-12-18 15:21] thim81 opened #315 "ConfigFile options are overwritten by CLI options"
The options from the ConfigFile are getting overwritten by the DefinedOptions, which should contain the CLI -O values but they contain all the CLI options and not the property

`openapi2postmanv2 -s openapi.yaml -o postman.json -p -c postman/openapi-to-postman-config.json`

openapi2postmanv2.js - Line 122

[code]

OUTPUT

[code]

If you use

`openapi2postmanv2 -s openapi.yaml -o postman.json -p -c

[2020-12-18 15:59] thim81 commented on #315
Proposal to solve this:

openapi2postmanv2.js - Line 55

`.option('-O, --options <options>', 'comma separated list of options', parseOptions)`

Replace with

`.option('-O, --options-cli <optionsCli>', 'comma separated list of options', parseOptions)`

openapi2postmanv2.js Line 82

`definedOptions = program.options || {};`

Replace with

`definedOptions = program.optionsCli || {};`

[2020-12-30 08:36] #308 closed

[2020-12-30 08:52] abhijitkane commented on #287
@NeraNodes @ChristianHauwert Hm - the OpenAPI module and the Postman app construct collections a little differently. Can you explain your workflow/requirements that require you to merge collections from these two sources?

[2020-12-30 09:12] #128 closed

[2021-01-04 19:31] VShingala commented on #57
@Jeansen These options should be available now in latest Postman App.

[2021-01-22 11:44] VShingala commented on #315
Thanks for raising issue and PR as well 😄. I have reviewed the PR and it looks good to me apart from the change suggested. Let me know when you address the change. I will approve and merge the PR.

[2021-01-22 11:53] thim81 commented on #315
@VShingala I'll look into the suggested change of correct if possible

[2021-01-22 11:54] VShingala commented on #310
@bruno-xo7 Unfortunately we don't support vendor extensions in security schema yet. so converted collection will contain Authorization set as `API Key` at the collection level.

[2021-01-22 17:08] thim81 commented on #315
PR is updated and should be ready to go

[2021-01-25 12:15] #69 closed

[2021-01-26 22:40] RJSkywalker91 commented on #31
Following this case, as I would love to have this feature added when possible. The API I am developing has quite a lot of optional parameters for each endpoint, and having them disabled by default would vastly lighten the burden on consumers.

[2021-01-28 17:14] thim81 opened #326 "Question - how to define Auth variables in OpenAPI"
![image](https://user-images.githubusercontent.com/952446/106173592-63105180-6194-11eb-9234-3b1f1a01906e.png)

Is there an option to replace the "true" with some {{}} that can be overwritten by the ENV?
What should I put in my OpenAPI document?

This is what I currently have configured in my OpenAPI document:
[code]

[2021-01-28 18:08] thim81 commented on #315
Resolved as part of the 2.1.0 release

[2021-01-28 18:08] #315 closed

[2021-01-29 08:24] Clem23 commented on #89
Hi,
Any update on this ?
It would be really useful to us too !

[2021-01-29 16:35] joaonunogomes commented on #26
Hi!
Do you have any update about this ?
Thanks in advance

[2021-02-01 20:52] alanwales opened #327 "Expose schemaFaker option"
The schemaFaker option is currently the only one not exposed, and it's a very important one for us as the fake data which is generated is not desired (e.g. dates which make no sense in our context). Please expose a way to disable this with the option, thanks

[2021-02-03 06:03] abhijitkane commented on #26
@joaonunogomes Not yet, unfortunately. This module is included in the Postman application, so I don't think we'll be able to prioritise CLI-only features anytime soon. For the use-case described above, I'd recommend updating the OpenAPI file before importing, or using the options present in Postman import flow and this module to configure the import.

[2021-02-03 15:43] VShingala commented on #326
@thim81 As the OpenAPI specification itself does not have a way to define example/default value for the security scheme, the current module doesn't support any override of value even as an option.

We can discuss this further with what would be an ideal use case for you and other developers. We can certainly add more useful or better placeholder for these cases instead `true`. I am still not certa

[2021-02-04 04:40] bmskoh opened #328 ""id" in "variable" is correct?"
What I'm trying to do is converting openapi file to postman collection file using openapi-to-postman and run test using `newman`.

When I convert a simple openapi example yaml, openapi-to-postman seems to generate "variable" by default like below.
`
"variable": [
        {
            "id": "baseUrl",
            "type": "string",
            "value": "/"
        }
    ]
`
`newman` fails running t

[2021-02-07 11:58] jonmross23 opened #329 "​$ openapi2postmanv2 --test is failing with ENOENT error."

[2021-02-09 15:02] piotr-cz commented on #329
[code]

[2021-02-11 19:02] jez9999 opened #332 "Endpoint should be 'no auth' when empty JSON object specified for security"
I've been [talking to](https://github.com/microsoft/OpenAPI.NET/issues/521#issuecomment-753003830) the maintainer of OpenAPI.NET on Github, and he says that the way I should override an operation to indicate "anonymous" is to get OpenAPI.NET to render a new security section with an empty JSON object in; for example:

[code]

In addition, this has been brought to the attention of the `swagger-ui` p

[2021-02-19 05:24] VShingala commented on #328
@bmskoh I have checked issue and you are correct. Conversion should use `key` instead `id` for variables. We will be treating this as a bug and fixing this.

[2021-02-25 18:25] jeansoonsik commented on #31
+1

[2021-02-27 10:39] ambition-consulting commented on #89
This feature is really important for any serious user of APIs. Who can live with just one example?

[2021-02-28 10:19] thim81 commented on #56
Added additional options for the test suite generation:
Provided a new option to overwrite/extend the Postman Request body, Query params & Path Variables as part of the Testsuite generation.

An example and the properties are explained here: the https://github.com/thim81/openapi-to-postman/blob/develop/TESTGENERATION.md

[2021-03-01 08:22] thim81 commented on #56
Added additional options to provide the option to define pm.environment variables for automation, by assigning values from the response. Automatically a pm.environment variable for the POST response will be provided.

More details: https://github.com/thim81/openapi-to-postman/blob/develop/TESTGENERATION.md#postman-test-suite-assignpmvariables

[2021-03-02 01:56] dawn-stripe opened #337 "required parameters w/in request body not being recognized as required"
I'm having trouble generating a collection that only enables required parameters as by default (I also don't see the [extra description](https://github.com/edclements/openapi-to-postman/blob/a5a495b3233560455e21e1997e97d0cf5784f075/lib/schemaUtils.js#L382)) it looks like required parameters get).  If I don't set the `disableOptionalParameters` config option than all parameters are enabled by defau

[2021-03-02 11:30] VShingala opened #338 "Collection contains incorrect value from examples when value is not truthy."
Currently, the generated value from examples is not the same as mentioned in OpenAPI specification when value is non-truthy in JS terms.

Meaning mentioned values in examples like `0`, `false` and `null` are not present in the generated collection, while truethy values are present.

For example, the below parameter will result in generated collection having faked value instead of one present In ex

[2021-03-03 20:43] dawn-stripe commented on #337
Investigating this a bit further with a forked version of the converter, I think this is bug in how required params are handled when included in request bodies.  I only know the schema I'm working with so I'm hesitant to submit a PR, but the fix for us were the following changes [convertToPmBody](https://github.com/postmanlabs/openapi-to-postman/blob/develop/lib/schemaUtils.js):

before [looping t

[2021-03-04 05:26] VShingala commented on #337
@dawn-stripe Thanks for reporting the issue and investigation.! I have verified that the issue exists and we will fix this soon.

The specification mentioned by you seems to be wrong, as defined by OAS `required` keyword can only be an array and should not be defined for a particular property. source [(1)](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#properties), [(2)

[2021-03-04 22:21] dawn-stripe commented on #337
wonderful thank you @VShingala .  And I can believe I misread the OAS as I'm still getting up to speed in it.

[2021-03-08 10:42] #329 closed

[2021-03-08 14:18] kilimandzsaro opened #340 "API endpoint request to GET the global variables"
Hi,

My team is using postman collections in CI with environments. We are using the url of the environment to run our collection (with newman). Also we have some global variables which works as quazy constants. Recently I tried to use newman's "-g" switch to setup the tests with not only the environment variables, but with global variables. I tried to use the URL of the global variables, and while

[2021-03-08 14:50] alexthehurst commented on #326
We have the same problem. Our use case is: we'd like to create contract tests. from our OpenAPI specification and have the requests in the collection run successfully, with the environment variables we already have set up.

[2021-03-08 16:24] VShingala commented on #326
@alexthehurst Got it. So I just wanted to discuss a solution that came to my mind. Based on the name of `securityScheme` (as it's unique) we can generate a placeholder of the sort `{{securitySchemeName}}` (for example, mentioned in issue `{{ApiKey}}`). Will this work for your use case? Or let me know if you have any other solution in mind.

[2021-03-09 05:27] VShingala commented on #340
@kilimandzsaro I am not sure if this issue is related to this project. Could you open this issue in [newman](https://github.com/postmanlabs/newman) repository. This repository is for OpenAPI to Postman collection conversion and validation flows only.

[2021-03-09 05:27] #340 closed

[2021-03-09 17:33] alexthehurst commented on #326
This would work for our use case. Using the security scheme as a namespace might be a little better and work with other security schemes which require more placeholders to work correctly. Values like:

For this security scheme:
[code]
this placeholder: `{{fooSystemTokenSecurity_apiKey}}`

And for this security scheme:
[code]
these placeholders: `{{fooSystemPasswordSecurity_username}}`, `{{fooSyste

[2021-03-09 17:59] alexthehurst commented on #326
In general, the converter seems to use placeholders for fields that don't have examples, but fill in example values where they're available. We can't use an example value to supply our own placeholder (like `"example": "{{variableName}}"` because for SecuritySchemes there's no example field in the OAS specification, but I wonder if there's a solution around using a [specification extension](https:

[2021-03-10 09:01] VShingala commented on #328
@bmskoh This should be fixed with v2.4.0.

[2021-03-10 09:01] #328 closed

[2021-03-10 09:33] #168 closed

[2021-03-11 07:45] thim81 commented on #326
@alexthehurst

As a work-around we use the the Postman variables to make the API key dynamic configurable.

Example OpenAPI document:

[code]

[code]

Next you can use it in a Postman env file

[code]

It is not ideal but it works for automation.

[2021-03-11 10:54] thim81 commented on #56
@CleverCoder

Thanks for the input, I appreciate it.

With regards to the request headers and the clubbering:
There was an issue with integer conversion, which is solved in a commit since  monday evening (https://github.com/thim81/openapi-to-postman/commit/b190b6109f651a8ba6a40caf714cd827603e3be4). If you have time pull in the latest version and let me know if it still occurs.

- I'll look into th

[2021-03-13 07:03] gmcquistin commented on #31
+1, having to disable them all manually is a lot of effort for big APIs

[2021-03-16 10:23] VShingala commented on #31
Hi everyone, we have introduced a new option `Disable optional parameters`. When set to ON, it will make sure only required parameters are enabled. You should find it under the `Show advanced settings` dropdown menu.

Try it out and feel free to add any feedback on this thread.

<img width="805" alt="Screenshot 2021-03-16 at 3 49 51 PM" src="https://user-images.githubusercontent.com/16756296/11129

[2021-03-16 10:40] gmcquistin commented on #31
Awesome, thanks guys for your work on this! 🎉

[2021-03-16 10:43] rohit-gohri commented on #31
@VShingala What's the equivalent option for this library?

[2021-03-16 10:48] VShingala commented on #31
@rohit-gohri You can find all documentation regarding option [here](https://github.com/postmanlabs/openapi-to-postman/blob/develop/OPTIONS.md). For using it in CLI you can use`id` field mentioned in there (which is `disableOptionalParameters` for this option).

[2021-03-25 16:54] neil-jennings commented on #306
Keep hitting this issue as well, would be nice if there was some way to increase the limit when importing into postman.

[2021-03-26 00:40] auzwang commented on #306
@neil-jennings we ended up forking and removed the stack limits!

[2021-03-26 18:46] thim81 commented on #306
@neil-jennings @auzwang This seems to be something that could be set by using the 'configFile' capability of the CLI and make the "stackLimit" and extend the options https://github.com/postmanlabs/openapi-to-postman/blob/4dcb4cb071abcfb7c466728c63e2beceaa31d4cd/lib/options.js to expose "stackLimit" (and maintaining it to 10 as default.

Idea:

[code]

And then https://github.com/postmanlabs/openap

[2021-03-28 17:29] pcgamer1 commented on #332
@VShingala can I work on this?

[2021-03-30 08:35] pcgamer1 commented on #89
@VShingala @umeshp7 can I work on this?

[2021-03-31 05:28] VShingala commented on #332
@pcgamer1 Sure, and thanks for the contribution. I have reviewed your PR and have added few comments.

[2021-03-31 19:46] dawn-stripe opened #353 "Collection JSON from converter differs from that from the SDK"
Hi - I wanted to modify the JSON file generated from the converter using the SDK, so I did an experiment to start where I took the collection I had generated from the converter used it to declare a new Collection object (http://www.postmanlabs.com/postman-collection) and then exported that Collection back out to a JSON file without making  changes. When I diffed the files I noticed the Collection

[2021-04-06 16:31] Iceyyu123 opened #356 "if write path variable ':<path variable>' in the reques, the ':<path variable>' is not resolved."
if write path variable ':<path variable>' in the reques, the ':<path variable>' is not resolved.

_Originally posted by @Iceyyu123 in https://github.com/postmanlabs/postman-app-support/issues/6078#issuecomment-814259718_

[2021-04-07 14:06] pcgamer1 commented on #356
Hey @Iceyyu123, can you give an example document. For path parameters you have to use the curly braces - path/{user_id} in the OpenAPI document.

[2021-04-09 14:47] thim81 opened #358 "Q: Is there an option to create Postman requests per response?"
In OpenAPI you can define multiple requests & responses.

OpenAPI
200 > success
404 > not found

Is there a way to generate multiple requests from OpenAPI to Postman, where 1 request will have use the examples for the 200 request/response and 1 request will have use the examples for the 404?

[2021-04-14 20:22] dawn-stripe opened #359 "polymorphic parameter isn't getting converted"
When we convert our spec, we have a polymorphic parameter that seems to be dropped in the conversion.  It's defined in the following manner:

W/in the requestBody we have the field encoded as a deepObject:

[code]

W/in the schema for the request we have the property defined as 'anyOf' like this:

[code]

When I try to trace through why it's getting ignored, it looks like it's being ignored [here]

[2021-04-17 08:40] pcgamer1 commented on #359
@dawn-stripe I'm looking into this.

[2021-04-17 09:51] pcgamer1 commented on #359
@dawn-stripe as you have not defined any properties in the case of ```metadata``` being an object, the ```schemaFaker``` is not able to generate data. Do you want a parameter even if the there are no properties defined for the object? Currently only the first element from the ```anyOf``` array is considered for schema resolution and in this case as the object doesn't have properties it doesn't add

[2021-04-18 06:52] pcgamer1 commented on #358
@thim81 I don't think there is any such feature, but I'm fairly new so might be wrong. Do you have any idea about how this might be implemented? What would you expect the input to be in case a separated request has to be created from each example? Thanks.

[2021-04-19 16:49] dawn-stripe commented on #359
Thank you for that explanation @pcgamer1.  We don't have any properties defined since the metadata keys are all used defined.

Yes, we'd still like for the parameter to appear as an optional parameter in the request.  `metadata[key]` would be a perfect placeholder.

I don't mind adding something to the spec to help the faker generate data, but I've not been having luck trying to figure out what I

[2021-04-20 07:50] pcgamer1 commented on #359
@dawn-stripe I tried with the above spec, there is a parameter being added for the string i.e. the first element of the ```anyOf``` array. Is this not the expected result for you? Thanks.

[2021-04-20 08:42] thim81 commented on #358
@pcgamer1

In the OpenAPI you can define multiple responses (200, 404, ...)

![image](https://user-images.githubusercontent.com/952446/115364748-04230d00-a1c4-11eb-975e-a851f6996b09.png)

I was wondering, what options there would be to generate request per response, which would make it easier to create postman tests per response type per request.

Example based on the screenshot:
in Postman you wo

[2021-04-20 10:14] pcgamer1 commented on #358
@thim81 Thanks for the explanation, I had understood the requirement. I wanted to know how would you want it to be implemented, there might be multiple paths you want this to be done for, so passing an array of the paths and the methods for each one for which you want to have seperate requests for each response will be a good CLI paramater right? What do you think? Thanks.

[2021-04-20 10:39] thim81 commented on #358
That is a good question, how to define for which. What I did in my PR #225 about contract testing was using the operationId from OpenAPI but the feedback was that operationId is not a property that is always used. The feedback suggested using a combination of the path and the operation method (get,post,...).  You want to have some control over when it would make sense the have multiple requests, s

[2021-04-20 13:17] pcgamer1 commented on #358
@thim81 Yeah, that sound good. I'll try to have a look and figure out how to implement the feature. Thanks for the help.

[2021-04-21 00:22] dawn-stripe commented on #359
hi @pcgamer1 : hmmm, I am not seeing it in resulting collection JSON.  I wondered if it was b/c I hadn't added it to the schema, but even when I fixed that I still did not see that first `foo` element appear. Ideas?

Here's my post body:
[code]

And the resulting output:

[code]

[2021-04-21 10:04] thim81 opened #361 "Content negotation - "content-type" is being skipped during conversion"
In an OpenAPI, users will explicitly define the "content-type", since users can document multiple "content-type"s in the requests to facilitate content negotiation.

Example OpenAPI

[code]

But since the latest release, the content-types gets stripped out, because of this addition in the `schemaUtils.js`

[code]

where `IMPLICIT_HEADERS` refers to:

[code]

Can you give some insights why you want

[2021-04-21 13:38] pcgamer1 commented on #359
@dawn-stripe I think I got your requirement. Please add the following option while converting  - `requestParametersResolution: 'Example'`. You'll have to define your example values in the following way :
[code]
This should work fine.

[2021-04-23 15:27] lucasluizss commented on #38
This is also not working with the latest version of npm library. Anyone know if there is a working version for it?

[2021-04-26 04:48] VShingala commented on #38
@lucasluizss Can you provide an example of the specification where conversion is failing?

[2021-04-26 05:42] VShingala commented on #361
@thim81 As defined in OpenAPI specification [here](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#fixed-fields-10), these headers should be ignored as part of the parameter definition. Currently `Content-type` header is generated from what's mentioned under the request body (i.e. media type of request body content).

[2021-04-26 08:25] lucasluizss commented on #38
I have a schema with inheritance and setting the property _additionalProperties_ with true to not permit to send other properties in the request.
In this way, it will not load all properties after import them. I'm using something like:
`Sample:
            allOf:
                - $ref: '#/components/schemas/EntityBase'
                - type: object
                ...`
I'm not sure if this is th

[2021-04-26 10:58] pcgamer1 commented on #358
@thim81 I'm working on this, getting a bit complicated as it collides with my multiple example changes, should be done in sometime.

[2021-04-27 08:56] thim81 commented on #358
@pcgamer1 I had a look and it looks very promising.

What would be the behaviour if there are no separate examples specified? You would fallback at the normal Postman generation, with 1 request.

[2021-04-27 16:55] pcgamer1 commented on #358
@thim81 Thanks.

Separate requests are generated for each response code. Multiple examples will be generated for each response code when integrated with my multiple examples PR - #350 .

[2021-04-28 05:23] thim81 commented on #361
@VShingala The problem lies with the requests without any body, since then there is now content-type, which for APIs with content negotiation is required, otherwise they return HTML. This is why we define the content type explicitly in the openapi spec, via an Enum with a default set to application/json

[2021-04-28 12:24] VShingala commented on #361
@thim81 Got it and it makes sense, Thanks for pointing it out. So would you say adding `content-type` header is good idea for only operations with no content? Cause previously there were duplications and same `content-type` header was present twice, one from header and one coming from content of request body.

[2021-04-28 12:52] thim81 commented on #361
I would make the OpenAPI document leading, during the generation

1. If the openApi has a content-type header specified, set this as a header on the Postman request (skip the request body detection)
2. If there is no content-type header specified, keep the existing behaviour by using the content-type detection of the request body

with regards to: https://github.com/OAI/OpenAPI-Specification/blob/

[2021-04-28 13:41] VShingala commented on #361
I think what they mean by that is corresponding parameter definition should be discarded entirely. Meaning we can ignore it as a parameter.

[2021-05-05 16:21] richardm-stripe opened #366 "Depend on more recent version of postman-collection"
Hello!

Would it be possible to release a version of openapi-to-postman with a more recent dependency on `postman-collection`? The old version of `postman-collection` has dependencies with [published vulnerabilities](https://snyk.io/test/npm/postman-collection/3.6.6) and even though we aren't using this package to serve production traffic, upgrading the dependency would help us maintain our securi

[2021-05-07 19:54] thim81 opened #367 "schema.maxItems:2 is added unwanted to the resolved schema"
In the function resolveRefs() it is possible to define how to resolve references, and has the option to define for what purpose it should be resolved for CONVERSION/VALIDATION.

There is an unwanted side-effect, it adds "maxItems" to the schema, when 'CONVERSION' is chosen.

[code]

There are a number of functions/parts where the `resolveFor` is hardcoded for "CONVERSION" which adds the `maxItems`

[2021-05-07 21:04] thim81 opened #368 "resolveRefs - AnyOf limited to 1 item"
Hi,

I wonder why do you limit the schema building to limited to 1 type for `anyOf[0]` and `OneOf[0]`?

[code]

In case you have AnyOf field defined in OpenApi:

[code]

Now only the type string is kept which results in a JSON that only validates for

[code]

My use-case is to re-use the schema for schema validation in an automatic pm.test generated based on OpenAPI.
I want to understand better wh

[2021-05-08 06:11] thim81 commented on #367
https://github.com/SidhNor/openapi-to-postman/commit/49b70b97c71e1ca1d25030c591b48f7c2725d3c8

[2021-05-11 15:18] VShingala commented on #332
@jez9999 @pcgamer1 I've merged raised PR and this will be available with next release of app.

[2021-05-11 15:29] VShingala commented on #368
@thim81 Yes I understand it. Although we will need more changes as in some of the code, we are sometimes using resolved JSON schema expecting there are no `anyOf` or `oneOf` keywords present if that makes sense.

I would be adding more changes to your contribution pretty soon. Thanks for the contribution..!

[2021-05-14 07:25] VShingala commented on #366
@richardm-stripe We have updated all of our dependencies to non-vulnerable versions. v2.7.0 contains all these changes and the same module will be used in App with the upcoming release.

[2021-05-14 07:25] #366 closed

[2021-05-14 07:38] thim81 commented on #358
@pcgamer1

It looks great. I'm going to give it a spin in the coming weeks, because it would make testing "unhappy" responses based on the examples much easier.

Side-question:
- Would it possible to define multiple examples for headers/query parameters and link them to the multiple example responses?

[2021-05-14 07:48] thim81 commented on #56
@CleverCoder

A short update, I have added the "operation" matching capability: https://github.com/thim81/openapi-to-postman/blob/latest.2.5.4/TESTGENERATION.md#postman-test-suite-targeting-for-variables--overwrites next to a number of minor improvements.

This will allow targeting assigning variables and overwrites (request body, query params, headers) based on the OperationId or Operation (combi

[2021-05-14 14:05] richardm-stripe commented on #366
Thank you!

[2021-05-30 07:53] noahehall opened #376 "npm audit: moderate severity"
[see here](https://github.com/noahehall/nodeproto/)
run `npm audit`

[code]

[2021-06-18 09:49] iro88 opened #379 "Issue with form-data and file type in request body"
I have a problem with file param in form-data body. After conversion from openapi to postman collection field type is `text` instead of `file`.

My example openapi file: [openapi.yaml.txt](https://github.com/postmanlabs/openapi-to-postman/files/6676166/openapi.yaml.txt)
My command used to convert openapi to postman collection:
`openapi2postmanv2 -p -s ./openapi.yaml  -o ./api.postman_collection.js

[2021-06-18 12:58] thim81 commented on #56
UPDATE: I concluded that the PR functionality does not really belong in openapi-to-postman, because this package is focussed on converting OpenAPI to Postman (and does excellent job). Together with [Nick](https://github.com/nicklloyd) from [Apideck](https://www.apideck.com/), we ported the PR contract testing functionality, with plenty more to the [Portman package](https://www.npmjs.com/package/@a

[2021-06-29 13:38] elazar opened #382 "Sample request body for binary string uses "raw" instead of "binary""
When importing an OpenAPI spec with this request boy specification...

[code]

... the result is that "raw" is selected for the request body type instead of "binary" and a Lorem Ipsum-style string is supplied as the sample request body.

[2021-06-30 21:21] sudoku-lord opened #384 "No way to exclude some tags from Postman collection"
When I set the `folderStrategy` for my Postman collection to `Tags`, _all_ the tags show up as folders in the collection––even [`x-traitTag`s](https://redoc.ly/docs/api-reference-docs/vendor-extensions/redoc-supported-extensions/#x-traittag-example) which have no endpoints associated with them. I looked through the options and couldn't find a way to exclude those tags from the collection.

I need

[2021-07-01 06:04] VShingala commented on #361
@thim81 Thanks for the contribution! I Will take a look at PR later on.

[2021-07-01 09:03] arlemi commented on #309
Reporting on behalf of a user.

Facing this issue with the following API spec: https://github.com/tru-ID/api-definitions/blob/main/specs/openapi.v1.yaml.

![Screen Shot 2021-07-01 at 09 27 50](https://user-images.githubusercontent.com/5029719/124097442-7b421080-da53-11eb-8d39-4fccd360681e.png)

![Screen Shot 2021-07-01 at 09 28 05](https://user-images.githubusercontent.com/5029719/124097477-81d088

[2021-07-01 16:27] daniloab opened #385 "2.8.0 version error "Error: Cannot find module '../assets/json-schema-faker.js'""
Hi,

I'm using the openapi-to-postman 2.8.0 version. For some reason, after the installation, the `assets` folder is not available, as the image below:
![image](https://user-images.githubusercontent.com/19939822/124153882-4f328980-da6b-11eb-91f0-5c57ac6056fa.png)

So, when running the lib is returned the following error:

[code]

How can we fix this? If anyone helping me I can send a PR fixing thi

[2021-07-06 17:52] jziggas commented on #8
I also have a use case of test, stage, and prod server urls. As well as a few product team urls. Importing the OpenApi 3.0.3 document into Postman only generates the first server url defined in the document. This is not useful to teams because individuals will have to manually enter the additional servers urls each time the document is updated, which will lead to individuals saving their own Postm

[2021-07-09 21:05] sibelius commented on #385
we should move assets inside lib, so it will be available in the final npm package

[2021-07-13 09:37] thim81 commented on #56
UPDATE: We just launched the 1.0 release of Portman, which now support contract, variation & integration testing!
I wrote a blog post about it on the Apideck website: https://blog.apideck.com/announcing-portman that gives more information.

[2021-07-20 13:14] Chulu1806 commented on #379
I'm having the same issue. Has anyone found a way to solve it???

[2021-07-21 13:11] michaelcilibrasi opened #387 "Exclude Responses?"
Can an option be added to exclude all responses. This means do not add responses as samples under the main tag.

[2021-07-22 05:15] VShingala commented on #385
@daniloab `/assets` directory is published under `npm` module and for me, `/assets` seems to be present on installation. Can you specify `npm` version you are using? Also is there any specific config that you might be using while installation?

[2021-07-22 05:30] VShingala commented on #384
@sudoku-lord Currently, all the tags that are mentioned in the specification will be converted to folders even if they are not used in operations. Also, there are no options are present that can configure this behavior.

As for `x-traitTags`, it's a vendor extension and we haven't added support for it in this module. Can you confirm if this behavior makes sense where tag objects with `x-traitTags`

[2021-07-22 06:08] VShingala commented on #382
@elazar Got the issue. Are there any other media types that can show the same behavior? OpenAPI specification only mentions the `image` as one. (https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#considerations-for-file-uploads)

[2021-07-22 06:38] VShingala commented on #376
@noahehall Have updated the vulnerable modules in mentioned PR and this issue will be fixed with next release of module.

[2021-07-22 11:41] thim81 commented on #361
@VShingala Did you had some more comments or remarks on the PR #383 ?

[2021-07-22 12:10] daniloab commented on #385
Actually I'm using the `openapi-to-postmanv2@2.9.0`

[2021-07-22 12:41] VShingala commented on #361
Hey @thim81, there are a couple of more changes that might be needed from `validateTransaction()` so validation also works. I am working on it but may take up to a week due to other issues.

[2021-07-22 12:51] VShingala commented on #385
@daniloab I meant `npm` version on your machine. It seems problem is in installation as released npm module does contain `/assets`. (i.e. https://unpkg.com/browse/openapi-to-postmanv2@2.9.0/)

[2021-07-22 15:02] elazar commented on #382
@VShingala In the context of this issue, images are admittedly the only type I've dealt with.

If your thought is to handle this by content type, I'm not sure there's a reliable way to do so. You can potentially exclude `text/*` types, but there are others (e.g. `application/json`) to which I would assume you would not want to apply this new behavior.

Offhand, my suggestion would be to limit the

[2021-07-23 10:54] thim81 commented on #326
This is solved in the 1.5.0 release of the [Portman package](https://www.npmjs.com/package/@apideck/portman), with the functionality to manage SecurityOverwrite options for methods: apiKey, Bearer Token & basic auth

[2021-07-23 10:55] #326 closed

[2021-07-24 13:49] thim81 commented on #384
@sudoku-lord

openapi-to-postman focusses on the conversion of the OpenAPI document to a ready-to-use Postman collection.

You can use a NPM package from the Openapi tooling community:
- [openapi-filter](https://github.com/Mermade/openapi-filter)
- [openapi-format](https://www.npmjs.com/package/openapi-format#openapi-filter-options)

These packages allow you to filter and alter the OpenAPI documen

[2021-07-24 15:17] thim81 commented on #358
@pcgamer1 I've cancelled the feature request, since the use case would be very specific.
I looked the code and it works as expected, so great job for that.

I think that an additional option to toggle it on or off, would be required to move forward with the PR.

The PR will have an impact on the future maintenance, but the code itself is very readable and well organised.

[2021-07-24 15:25] thim81 commented on #158
The openapi-to-postman package focusses on transforming a OpenAPI document to a Postman collection.

To make the transformation more dynamic, we have created a seperate package [Portman](https://github.com/apideck-libraries/portman#readme) that uses "openapi-to-postman" under the hood to transform OpenAPI document to a Postman collection, but while doing so, it offers options to generate automat t

[2021-07-24 17:20] sciamano89 commented on #36
Hi, just noticed that references that include dots cannot be clicked to "go to reference". A fix would be awesome, thanks!!!

[2021-07-24 17:35] scottpopplewell commented on #158
Wow, I just sat down to finish a PR for this feature. I'll be checking out portman, thanks @thim81!

[2021-07-24 18:34] #367 closed

[2021-07-24 18:43] thim81 commented on #26
@wabiloo  & @joaonunogomes

The openapi-to-postman package focusses on transforming a OpenAPI document to a Postman collection.

To make the transformation more dynamic, we have created a seperate package [Portman](https://github.com/apideck-libraries/portman#portman-) that uses "openapi-to-postman" under the hood to transform OpenAPI document to a Postman collection, but while doing so, it offers

[2021-07-24 18:46] thim81 commented on #8
@jziggas To make the OpenAPI to Postman transformation more dynamic, we have created a seperate package [Portman](https://github.com/apideck-libraries/portman#portman-) that uses "openapi-to-postman" under the hood to transform OpenAPI document to a Postman collection, but while doing so, it offers options to generate automat tests, insert postman variables, prefill Params / Headers / Body values

[2021-07-25 16:08] Amit-XMPie opened #390 "OpenAPI allOf not interpreted as additional properties (inheritance)"
I'm creating an OpenAPI specification using the allOf for inheritance. works great in Swagger UI works great in Visual Studio Import. does not work in Postman, postman shows only immediate properties and not inherited ones.
actually what Postman does, is going into the "deepest" reference schema, and take the properties of it, but does not collect also the properties of the inheriting schema.

[2021-07-25 22:13] praveendvd opened #391 "Allow user to specify req name option"
**Documentation says fallback option takes :**

Determines how the requests inside the generated collection will be named. If “Fallback” is selected, the request will be named after one of the following schema values: description, operationid, url.

But the code implementation in the utils function has summary and not description.

[code]

It would be better to allow user to provide source as summ

[2021-07-29 14:24] raghavgarg1257 opened #392 "Global security scheme of API Key is resulting in invalid header value"
If the schema has a global security scheme as `apiKey`, like this
[code]

Then the postman collection generated has an invalid header value, i.e. the header has the boolean true instead it should be a string
[code]

This bug is also affecting the collection generated using the schema from inside of the Postman App. The generated collection results in an error when tried to send the request.
<img w

[2021-07-29 16:05] sciamano89 opened #394 "$ref path that includes a dot still not working correctly"
Hi, just noticed that references that include dots cannot be clicked to "go to reference".

_Originally posted by @sciamano89 in https://github.com/postmanlabs/openapi-to-postman/issues/36#issuecomment-886082989_

Also, the bigger issue I just noticed is that if I use $ref to reference a path parameter with a name that includes dots (i.e. '#/components/parameters/args.userId'), it gives me the err

[2021-08-02 19:15] raghavgarg1257 commented on #392
@VShingala Can you please share your views on this?

[2021-08-12 06:39] VShingala commented on #394
@sciamano89 Thanks for reporting the issue, we have identified it and are working on a fix.

[2021-08-12 06:43] VShingala commented on #392
@raghavgarg1257 This should be fixed now. 🚀

[2021-08-12 06:43] #392 closed

[2021-08-12 06:50] VShingala commented on #391
@praveendvd Got the point. Just a question. If we allow either one of `summary`, `oprationID` or `URL` as request name source, what should be name if corresponding property is not present in schema? (let's say `operationID` is not present in schema and we have provided `operationID1` as option)

[2021-08-12 06:52] VShingala commented on #385
@daniloab @sibelius Were you able to figure this issue out?

[2021-08-12 06:59] VShingala commented on #387
@michaelcilibrasi Can you explain more about your use case here? As any present responses in the collection will not affect anything in request so is there any valid reason to ignore them?

[2021-08-12 07:00] VShingala commented on #390
@Amit-XMPie Can you provide a short example and what should be ideal behaviour you'd want with it. It will help in understanding issue better.

[2021-08-12 07:23] VShingala commented on #353
@dawn-stripe You can ignore `_` field here. It's identical to one present at `info._postman_id`. Not sure why SDK is adding this field but it's not relevant in this case.

[2021-08-12 07:30] praveendvd commented on #391
@VShingala  the request is that , instead of using fall back
.allow user to choose from the drop down which property to be used for naming .

[2021-08-12 09:48] Amit-XMPie commented on #390
[Issue Sample.zip](https://github.com/postmanlabs/openapi-to-postman/files/6974400/Issue.Sample.zip)

attached is a sample OAS3 I have created to show the issue.
also in the zip, a screenshot of SwaggerUI that consumes it correctly, a screenshot of Visual Studio that consumes it correctly, and a screenshot of Postman that consumes it incorrectly, i.e. show only the base class property and not the

[2021-08-12 09:49] Amit-XMPie commented on #390
sorry closed it by mistake

[2021-08-12 15:05] VShingala commented on #359
@dawn-stripe For the given example, there is no concrete definition for `metadata` provided. According to OpenAPI spec, `deepObject` style is applicable only for `object`. Here for first schema resolved object will be empty and second schema which is of `type: string` will not create correct serialization. You can add an example like given below to make sure properties are retained after conversio

[2021-08-12 15:05] #359 closed

[2021-08-13 18:32] daniloab commented on #385
HI @VShingala my npm version is 7.7.6

[2021-08-13 19:05] Streeterxs commented on #385
Same problem

[2021-08-16 06:05] VShingala commented on #385
@daniloab @Streeterxs Can I know how are you using this module? There might be a problem with the way you are possibly running/bundling your application. Can you try re-installing the module? You can also install it at global level and see if `assets` are present in the installation directory. As published npm module does have `/assets` directory in it.

[2021-08-16 11:00] amgad01 opened #397 "adding two different Bearer Tokens across the application"
I am trying to add two different Authorization bearer tokens across the application (i.e. internalBearerAuth and externalBearerAuth in the  securitySchemes `  securitySchemes:
    externalBearerAuth :
      type: http
      scheme: bearer
      bearerFormat: JWT
    internalBearerAuth :
      type: http
      scheme: bearer
      bearerFormat: JWT
      ` and use them in different requests, but af

[2021-08-16 12:43] daniloab commented on #385
I followed the steps above and noticed something:

- installing global assets appears normal.

- Installing in my project the assets are not downloaded together. I'm using monorepo. Could it be something related to him?

[2021-08-16 13:58] VShingala commented on #385
Got it! it seems the problem might be with your project because I also tried using `openapi-to-postmanv2` as a module (fresh repo having this module as a dependency) and it does have `/assets` directory under `node_modules`. I am not sure what we can do here further as the installation process varies based on your project.

[2021-08-17 13:46] thim81 commented on #361
@VShingala Did you had some time to look into the PR? And did you have any remarks or comments, I should work on?

[2021-08-19 14:07] VShingala commented on #306
@auzwang @neil-jennings We have added support for this as an internal option from version >= 2.10.1 of [openapi-to-postman](https://www.npmjs.com/package/openapi-to-postmanv2). To make sure `stackLimit` option gets applied make sure to disable `optimizeConversion` option.

Sample usage to avoid '<Error: Too many levels of nesting to fake this schema>' error in any converted value is as below.

[co

[2021-08-19 14:07] #306 closed

[2021-08-19 14:09] VShingala commented on #306
Also, we are looking to add support for the same in Postman App while importing specifications, but it will take some time.

[2021-08-20 18:29] jpoehnelt opened #400 "Consistent IDs"
It would be beneficial to use consistent ids for the items in the collection instead of UUID. For example this would enable linking to a specific request. OpenAPI already supports `operationId`.

[2021-08-23 13:16] VShingala commented on #400
@jpoehnelt Good suggestion! One thing I would like to ask though is, IDs are not persisted with import in Postman App. Meaning if you were to import this collection on postman app these IDs are not same ([issue](https://github.com/postmanlabs/postman-app-support/issues/2906)) So, can I know your use case with collections with `id` as `operationId`?

[2021-08-24 00:46] rpcesar opened #401 "Inconsistent example/body text being produced for json schema"
Issue
=====

I am getting what I can best describe as inconsistent ipsum text in the body (example) of many example entries. I have selected request/example ParametersResolution to schema, so I expect all variables will be described in the form "<string>" or "<integer>". Instead, in many fields in random places I am getting ipsum text. This problem occurs on the postman application as well.

Eg:

[2021-08-30 16:25] mikestaub opened #403 "generate OpenAPI from Postman collection"
Is this possible / implemented?

[2021-09-07 14:03] thim81 commented on #403
@mikestaub  I don't know if it is possible within openapi-to-postman package but you could give https://github.com/joolfe/postman-to-openapi a try. The converter works very well.

[2021-09-09 20:41] jpoehnelt commented on #400
Note the workaround did not work in the upload state. This is still desired.

[2021-09-13 09:48] VShingala commented on #400
@jpoehnelt Here for step 3 - Patch collection, are you using [this](https://www.postman.com/postman/workspace/postman-public-workspace/request/12959542-a42a1615-4b04-44e9-b2ea-e94729d5f4d6?ctx=documentation#authentication) endpoint? If yes, here patching will overwrite entire collection. Meaning entire collection will be replaced and here even if we try to patch same collection with previous IDs,

[2021-09-13 10:55] thim81 commented on #403
@mikestaub There is also a [PR open](https://github.com/postmanlabs/openapi-to-postman/pull/312), that might be interesting for you to look into.

[2021-09-20 22:39] steve-nay-sage opened #408 "Rename exampleParametersResolution to responseParametersResolution"
For requests there is an option named **request**ParametersResolution that determines whether request bodies are created from schemas or examples. For responses, the equivalent parameter is named exampleParametersResolution. Shouldn't that name be **response**SchemasResolution since it's about response schemas and not about example schemas? I thought maybe it was a mistake in the instructions, but

[2021-09-21 12:41] thim81 commented on #387
@michaelcilibrasi Just sharing here, how I solved this use-case.
If you need "filtering" in the OpenAPI, you could have a look at the packages:
- https://www.npmjs.com/package/openapi-filter
- https://www.npmjs.com/package/openapi-format

This will allow you to tag request/responses/... in the OpenAPI spec and have them filtered out, store the filtered OpenAPI and next you convert this into Postma

[2021-09-22 21:37] thim81 opened #410 "Question: Why does an OpenAPI array of a request body generates 2 items?"
When the OpenAPI spec, has defined a `type: array` with `items`

[code]

The generated Request Body inserts 2 time the `itemObject` model, resulting in:

[code]

While the `itemObject` is a single item.

[2021-09-27 18:23] michaelcilibrasi commented on #387
Hi Vishal, I apologize for the delay. It may seem like an odd request,
skipping error responses. However, It's done for two reasons for us. The
first is that the developers insist on including 500 errors in their code,
and refuse to remove them. I asked around, and in two Write The Docs
meetings I found other writers with the same complaint, so it wasn't just
me and my company.

The second reason

[2021-09-28 14:52] thim81 commented on #361
Closing this item, since it solved in the 2.11.0 release, which includes the PR #383

[2021-09-28 14:52] #361 closed

[2021-09-28 14:52] thim81 commented on #361
Thanks @VShingala for the review and all the tips to make this land in the release 🙇

[2021-10-05 06:09] #382 closed

[2021-10-08 00:22] steve-nay-sage opened #417 "Error while resolving allof schema: very confusing"
I've attached a fair-sized OAS file.  (I had to change the file extension from .yaml to .txt or GitHub wouldn't accept it.) When I try this command on it:

[code]

It creates a Postman collection but gives this error:

[code]

I've tracked it down to the `key` property at line 2801 in the file, where if I add `type: string` then I don't get the error. However, there should be no reason to add that

[2021-10-28 13:54] PetrusHahol opened #422 "Is it possible to use the tool with open api version 2.0?"
Hello
I was trying to use the tool with version 2.0 of openapi. It generates the outcome but it does not contain request body and response body schemas.
Does this solution support openapi version 2.0?

Thank you.

[2021-11-09 09:50] VShingala commented on #422
@PetrusHahol You can use [this module](https://github.com/postmanlabs/swagger2-postman2) to do the conversion from Swagger 2.0. It doesn't support CLI usage yet but you can use the module in the following way and run this script to generate collection.

[code]

[2021-11-09 09:50] #422 closed

[2021-11-19 05:10] dev1702ed commented on #337
Heyy, @VShingala can I contribute?

[2021-11-19 08:41] DevDengChao opened #425 "Please support multi request examples on generated document"
[code]

This OpenAPI defination could generate a dummy document . but the generated document can only choose to show different responses, not requests:

![example](https://user-images.githubusercontent.com/16363180/142591413-8720fa63-8e13-483f-8119-9cff8d854e70.gif)

While other OpenAPI parser could:

![example2](https://user-images.githubusercontent.com/16363180/142592068-df108d9d-a6f2-4fae-8f0d-

[2021-11-22 13:58] VShingala commented on #337
@dev1702ed This is fixed already so no need.

[2021-11-22 13:58] #337 closed

[2021-11-26 15:04] khazamov commented on #408
+1

[2021-11-26 15:07] khazamov commented on #408
I would go even further and ask why we have to choose? Ideally, if the example is available then Postman should use a provided example. If example is not available then it should fall back to the request parameter. Basically, instead of specifying request resolution and response resolution enums it should be "primary" and "fallback" resolution methods.

[2021-11-30 11:03] ls-liesbeth-dekeyzer opened #431 "error: RangeError: Maximum call stack size exceeded"
When generating our postman collection for our open api spec we get an exception.
Our schema's do have some recursive calls, for example:

![Screenshot 2021-11-30 at 12 02 11](https://user-images.githubusercontent.com/43766866/144035668-0c7e1be1-d17e-4315-9042-dc93597c9c54.png)

This is a part of our open api spec file
[code]

Is this a bug or could I fix this by adding some extra options?
[code]

[2021-11-30 12:41] ls-liesbeth-dekeyzer commented on #431
nvm tested I thought portman was using this underneath Tested it with "openapi-to-postmanv2": "^2.12.0" works fine

[2021-11-30 12:41] #431 closed

[2021-11-30 12:45] thim81 commented on #431
@ls-liesbeth-dekeyzer Could you share some info in the Portman repo?
 https://github.com/apideck-libraries/portman/issues

[2021-12-08 15:34] boylec opened #437 "$ref for additionalProperties is ignored when generating example request body among other things"
Lets say I have an OpenAPI spec as follows
[code]

I then generate a collection from this spec.

The request body for an operation using this requestBody definition is currently something like:
[code]

I have a few suggestions/issues with this
* It would be much more useful/beneficial for the generated request body to be based off of the example specified in the requestBody definition rather than

[2021-12-08 15:59] boylec commented on #437
Apologies

I believe it is possible to generate using examples instead of schemas using the CLI

I was thinking this was the place to go to post issues with the Postman desktop app generating collections from an OpenAPI spec.

[2021-12-08 15:59] #437 closed

[2021-12-09 09:34] harshit-budhraja commented on #338
@VShingala Can we evaluate the state of this fix and close the issue accordingly? 🙇🏻

[2021-12-09 09:41] harshit-budhraja commented on #410
@thim81 Thanks a lot for reporting this issue. Can you please share the definition you're created for `#/components/schemas/itemObject`? Also, have you added any relevant examples to the OpenAPI definition?

[2021-12-14 15:48] #338 closed

[2021-12-14 15:52] harshit-budhraja commented on #327
@alanwales We now have a `schemaFaker` option, and passing it with a `false` value should disable the faking behaviour.

[2021-12-14 15:52] #327 closed

[2021-12-15 10:32] raghavgarg1257 opened #439 "Feature Request - Link the collection with environment variable via extensions"
We can add support for custom fields like `x-env-var`, so users can add something like
[code]
And instead of adding a placeholder value, we can add this variable if available.

This could be a way to link the generated collection with the environment users provide in the API Version.

Ref, https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#specification-extensions

[2021-12-21 11:46] andy-seedata commented on #401
I think I'm seeing this same issue in documentation generated from an imported OpenAPI schema.

I have `example` properties on individual fields, which _sometimes_ display in the generated documentation, and sometimes do not.

In these screenshots, only the `email` field is populated using my specified `example` key.

I do not have any request `examples` specified for this endpoint.

<img width="6

[2021-12-31 10:22] khazamov opened #442 "Error Error: Expected a regexp or string in /properties/entries/items/0/properties/product"
Hi,

I'm trying to convert JSON schema to postman collection using openapi-to-postman. I get

[code]

The schema part where it throws an error looks like this:

[code]

I'm aware that it's JSON schema faker that is not accepting the format, but it's extremely unclear. I've checked open issues on JSON schema faker project and couldn't find anything that would explain this. Do you have any pointers

[2022-01-06 03:29] fosternb10 commented on #8
Added in 2018 but still commenting in 2022.  Does an ETA exist for this feature?

[2022-01-07 16:10] a-dawg commented on #401
having the same issue as @rpcesar
"ipsum" text is replaced everywhere in the body of the request

[2022-01-07 18:07] ekelvin opened #445 "Unknown option -w error"
Not sure where this came from I just ran it with:
[code]
using as swagger the example online https://petstore.swagger.io/v2/swagger.json
![image](https://user-images.githubusercontent.com/6638327/148587252-d53a0f74-17e9-4b06-bdad-04c6bf0cacbe.png)

Anything I am missing here? I installed the latest version

[2022-01-07 18:11] ekelvin commented on #445
sorry missed the -s option there

[2022-01-07 18:11] #445 closed

[2022-01-20 07:35] VShingala commented on #437
@boylec Thanks for reporting the issue! You were correct as this module is used internally by Postman App to convert/validate collections.

[2022-01-30 10:26] wahmedswl opened #454 "OpenApi, Json"
Hi, eg only list OpenApi.yaml support but is OpenApi.json etc supported as source?

Thanks

[2022-02-02 12:32] VShingala commented on #410
@thim81 Collection generation process makes certain assumptions to make sure data that gets generated is interpreted well. One such assumption is for any schema with type `array`, resulting generated data will have 2 elements which is valid according to the schema.

If you'd like to define a custom number of elements in the generated array, you can mention the `minItems` and `maxItems` fields acco

[2022-02-02 12:32] #410 closed

[2022-02-02 12:34] VShingala commented on #454
@wahmedswl Yes, Both YAML and JSON formats for OpenAPI specification are supported as mentioned [here](https://github.com/postmanlabs/openapi-to-postman#convert).

[2022-02-02 12:34] #454 closed

[2022-02-02 12:38] VShingala commented on #442
@khazamov Could you possibly share your specification or modified and shrunk version that can produce the same error? Looking at the schema you mentioned by you, it contains another reference (`#/components/schemas/ProductsCustomBatchRequestEntry`) which can cause this error.

I wasn't able to find any issue with the current data you shared so asking for it in detail.

[2022-02-04 19:17] jpoehnelt commented on #400
how should I update in that case?

[2022-02-08 02:01] mastazi opened #465 "Postman is unable to import OpenApi 3 with multiple API keys"
we have an OpanApi 3 collection with multiple API keys, as described at the following link under the paragraph "multiple API keys": https://swagger.io/docs/specification/authentication/api-keys/

When importing this, it is expected that the various endpoints will have both headers (in our case, `x-api-key` and `x-api-secret`).

Feeding the same OpenApi file to ReDoc, both authentication headers ar

[2022-02-08 14:33] STeeL835 commented on #390
Got this issue too. For me it generates empty objects and strings `"<object>"` instead of real schema requests/responses.

I have these classes: `Request` and `RequestBase`
`RequestBase` contains everything, while `Request` doesn't at the moment and just inherits everything from `RequestBase`.
When openapi spec is generated, they transform into 2 components where `Request` is
[code]
and `RequestBa

[2022-02-09 11:06] thim81 opened #467 "Question - disableBodyPruning"
Since the 1.14.x, the generated Postman collection contains some differences in comparison with 1.13.

The collection contains an additional property `protocolProfileBehavior`

[code]

What does this setting do?

[2022-02-09 11:07] thim81 commented on #467
I found this: https://github.com/postmanlabs/postman-runtime/blob/develop/docs/protocol-profile-behavior.md

But it is still not really clear for me?

[2022-02-09 11:50] codenirvana commented on #467
@thim81 Historically, Postman used to drop request body for methods like `GET`, `COPY` etc. while sending a request.

This request setting disables that behavior and for backward compatibility, it's opt-in and added to the newer requests with method `GET, COPY, HEAD, PURGE, UNLOCK` and a request body.

[2022-02-09 11:50] #467 closed

[2022-02-09 11:52] thim81 commented on #467
Thank you @codenirvana for the clear explanation.

[2022-02-11 08:24] thim81 opened #474 "Question - 3.0.0 release"
I noticed that there was a 3.0.0 release, I had a look at the changelog but there was nothing mentioned.

Is there any document describing what the difference is? Is there a breaking change or full backward compatible?
We are using the package as module, so we want to estimate the workload if there are breaking changes.

[2022-02-14 17:11] umeshp7 commented on #408
@khazamov @steve-nay-sage Thanks for the feedback.

The `example` in the name indicates the Postman Example and not the response in the OAS spec. But I do understand the confusion.

@khazamov Also regarding the defaults: https://github.com/postmanlabs/openapi-to-postman/blob/develop/OPTIONS.md Here you can find that for `exampleParametersResolution` the default is in fact example. And if that is n

[2022-02-15 11:41] VShingala opened #478 "Updation of path parameter in collection result in MISSING_IN_REQUEST error."
For attached schema and collection, while using `validateTransaction()` function, mismatch is reported with `MISSING_IN_REQUEST` type of mismatch instead of `INVALID_VALUE` where the key of variable should be updated with the same value.

(`petId` is present in collection meanwhile it's updated to `peterId` in schema.)

<details>
<summary> Specification </summary>
<br>

[code]
</details>

<details

[2022-02-15 13:49] VShingala opened #479 "Collection validation against schema fails for values like <integer>."
Currently, when collection is generated with options `requestParametersResolution` and `exampleParametersResolution` set as `Schema`, generated colection will have placeholder values like `<integer>`, `<long>` etc.

The problem is these values are identified as mismatches in `validateTransaction()` API. We should not be throwing mismatches for type values that are generated by the module itself.

[2022-02-15 22:54] mastazi commented on #465
Hi @umeshp7 thank you for your response. My initial instinct (and I say that as someone who is not familiar with this codebase) is that the problem could be resolved by parsing `security` rather than `components.securitySchemes`, the reason I say that, is that when we want to use multiple API keys, all keys will be under the same array element. So they are grouped into one.

The docs at https://sw

[2022-02-16 08:25] Samridhi-98 commented on #478
@VShingala  I would like to work on it.

[2022-02-16 08:27] ritik307 commented on #479
@VShingala I got the issue and would like to work on it. Kindly assign it. 🙂

[2022-02-16 15:01] VShingala commented on #478
Hey @Samridhi-98, this is already being worked upon by the internal team. Feel free to pick up any other issue.

[2022-02-18 09:34] AlexKotsc commented on #8
Possible fix that solves my use case; I'm not sure how to get contribute to this project directly, so I've made changes on a fork.

https://github.com/AlexKotsc/openapi-to-postman/commit/36c959f75ea81809814578574f248320f2a968f3

[2022-02-21 13:40] gn-stuckenberg opened #484 "Import OAuth2 flow settings from OpenApi spec"
Currently an OAuth2 Security Scheme in OpenAPI
[code]

will be converted to
[code]

It would be nice if the settings from the OAuth2 flow would be included:
[code]

Beware that there may be multiple OAuth2 flows specified in OpenAPI. Therefore either only import first flow or add selection of flow via configuration option or similar.

[2022-02-21 17:03] VShingala opened #485 "validateTransaction() returns result where mismatch path for transaction are incorrect."
Result returned from `validateTransaction()` API contains incorrect `transactionJsonPath` and incorrect path in `key` and `reason` in mismatch when `detailedValidationBlob` option is set to true.

<details>
<summary> Specification </summary>
<br>

[code]
</details>

<details>
<summary> Collection </summary>
<br>

[code]
</details>

[2022-02-28 11:13] ahemanna opened #490 "Broken links in the README.md"
Couple of example links(`request.headers` and `request.url.variables`) under [Conversion Schema](https://github.com/postmanlabs/openapi-to-postman#conversion-schema) table in the README.md file appears to be broken.

[2022-03-02 21:57] sserrata opened #493 "Plans to fully expose `schemaFaker` option"
Hi, I was wondering if there are plans to full expose the `schemaFaker` API option? According to the following line, it's currently being hardcoded/overridden:

https://github.com/postmanlabs/openapi-to-postman/blob/c11910d15b9ef16bd3cf83e011c875da9fa7f2ca/lib/schemapack.js#L50

I appreciate any help in the matter - thanks!

[2022-03-04 00:17] lon-io commented on #390
Got the same issue

[2022-03-09 10:23] VShingala commented on #493
@sserrata You can use this option while using this module as a CLI tool. We don't have any plans of exposing this option in the Postman App yet.

i.e. see Usage section in README.

[code]

[2022-03-09 10:23] #493 closed

[2022-03-09 10:30] VShingala opened #495 "Module throwing error for the specfication in question."
Currently, `validateTransactions()` API is throwing following error for the specification listed [here](https://github.com/APIs-guru/openapi-directory/blob/main/APIs/data.gov/3.0/swagger.yaml).

I think this is only after OAS 3.1 support changes.

[code]

[2022-03-09 10:36] VShingala commented on #495
Seems like the specification in question is not an valid OpenAPI spec, closing this.

[2022-03-09 10:36] #495 closed

[2022-03-22 04:17] VShingala opened #496 "validateTransactions() returning missing endpoints even though corresponding requests are present."
For [box-openapi definition](https://raw.githubusercontent.com/box/box-openapi/en/openapi.json), even for newly generated collection `validateTransactions()` API provides results where some requests are not matching with operations from specifications and are suggested as missing endpoints.

The problem seems to be with operations where `servers` are defined explicitly. For example, `GET /authoriz

[2022-03-22 12:17] racastellanosm commented on #425
This is a ver must be feature, do anyone knows an ETA for this?

[2022-04-08 12:41] philsturgeon opened #499 "OpenAPI v3.1.0"
Howdy Postman People! I wanted to make a quick issue to track the progress towards supporting OpenAPI v3.1. I'm sure you folks are all familiar with it and I bet its supported in various parts of the toolchain, but I wanted to see how this particular tool was doing so I can potentially update the "3.1 Support" column.

Here's a guide to the differences written for end-users, but it should help mak

[2022-04-13 16:15] lougeo commented on #8
I also have this requirement, and would like to see this implemented.

[2022-04-20 09:33] noryson commented on #8
Please, this implementation is needed. I've had to manually copy the other server urls and associated data into postman environment variable every time. Not nice at all :(

[2022-04-29 08:56] DanielAJoyce opened #511 "Security: Resolve Vulnerability with oas-resolver-browser (ansi-regex) by moving to oas-resolver@latest"
### Description
Snyk has discovered a vulnerability introduced by the dependencies within openapi-to-postman via the oas-resolver-browser.

Dependency tree that shows vulnerability at ansi-regex:
openapi-to-postmanv2@3.1.0 › oas-resolver-browser@2.5.2 › yargs@15.4.1 › cliui@6.0.0 › wrap-ansi@6.2.0 › string-width@4.2.2 › strip-ansi@6.0.0 › ansi-regex@5.0.0

### Remediation
Migrate to oas-resolver (

[2022-04-29 10:18] VShingala commented on #511
@DanielAJoyce Thanks for reporting the issue! We will be taking a look at this and make appropriate changes soon.

[2022-05-02 11:29] VShingala commented on #511
@DanielAJoyce We've fixed the issue now via the new version `openapi-to-postman@3.2.0`. Feel free to reopen this issue if you still face any issues.

[2022-05-02 11:29] #511 closed

[2022-05-04 12:29] VShingala commented on #499
Hey @philsturgeon, Thanks for reaching out!

We already have added support for OpenAPI v3.1.0 for our existing functional APIs (i.e. converting OpenAPI 3.1 definition to Postman collection, validating the collection against the OpenAPI 3.1 definition etc.). It seems README.md hasn't been updated with these changes so I'll create a task to do that.

We'll let you know once we have updated README.md

[2022-05-04 15:47] philsturgeon commented on #499
Brilliant, thank you @VShingala!

[2022-05-06 09:11] rajesh-k-g opened #517 "Could not import openAPI v3 as collection"
Hi,

We have an OpenAPI v3 file that's around 5mb in size with 300+ endpoints. When we try to import this as a collection, the following error is shown.  However, we are able to successfully import this in Swagger Editor.

![image](https://user-images.githubusercontent.com/103045298/167102004-dfd9af46-a08c-4f44-bbb8-1e34e6e32905.png)

Is there a solution or workaround for this?

Also, when we try

[2022-05-09 00:16] DetachHead opened #518 "`integer` query params with `enum` values get default value of `NaN`"
[code]
![image](https://user-images.githubusercontent.com/57028336/167321731-68877002-91c0-4a8c-8a63-66e4ceca2494.png)

[2022-05-16 20:13] jpoehnelt commented on #400
@VShingala Any updates here?

[2022-05-20 09:00] VShingala commented on #400
@jpoehnelt For mentioned Update endpoint, there should be no problem with updating the collection generated from this module. (I tried it myself and did not see any issue, the collection was updated with all changes)

However, as I understand, the main issue you have right now is that IDs present in collection changes which result in additional changes (some changes replaces ID which are not neces

[2022-05-22 23:55] herbertRV commented on #35
Hello!
Any news on this issue?
Thanks!

[2022-05-28 11:48] kzmKZuzmo opened #523 "Import from openapi change application/x-www-form-urlencoded to application/json"
Hello I importing from swagger v2.0 to postman v9.19.3

And after import my request body is type application/x-www-form-urlencoded and  looks like this
![image](https://user-images.githubusercontent.com/16986250/170824068-ce5abd74-c23c-4338-a805-df1af2315b49.png)

But Inside swagger I have json body,  is there a way ho wot  to change all requests inside collection from application/x-www-form-urlen

[2022-06-17 12:30] bretik opened #559 "Parameter description is undefined for ref schema parameters"
Hi, I have problem with conversion of ref schema with parameter description
Let's have this definition:

[code]

In openapi-to-postmanv2@3.0.0, I got:
[code]

Now in openapi-to-postmanv2@3.1.0+, from the same input definition, I get:
[code]

So all request parameters in postman have description string "undefined". When the schema is defined inline, I get correct description generated:

[code]

[2022-06-17 13:50] AlexKotsc commented on #465
@mastazi
security:
 - apiKey: []
 - appId: []

Is not incorrect, it just means you as a client can choose which one you want to use.
https://swagger.io/docs/specification/authentication/#multiple

[2022-06-20 05:54] mastazi commented on #465
@AlexKotsc yeah, I meant incorrect from the point of view of achieving an AND as opposed to an OR.

The example you made is an OR but in our case we need an AND. Thank you for clarifying.

[2022-06-24 15:31] VShingala commented on #517
Hey @rajesh-k-g, On postman app we have this limitation at the moment. Usually, for larger API definitions, collection does get generated but modal shows error message but eventually collection does get generated after some time and will show up in collection sidebar.

You can also use this module for converting the API definition to collection. Checkout the [CLI Usage](https://github.com/postmanl

[2022-07-11 12:54] VShingala opened #597 "Collection agaist schema doesn't support validation correctly for allOf keyword for provided schema."
In this case (API schema below), the user expects that the test data they pass should be invalid because `specificType` property value does not contain a `grandParentTypeData` property. However, Postman reports the data as valid.

Reproduction steps (In app):

- Import the schemas inside Postman
- Generate a collection for them
- Create a mock server for each collection
- Send a request from the g

[2022-07-14 12:16] VShingala commented on #559
@bretik Thanks for reporting the issue! We've identified the issue and the fix will be available soon in the Postman app. I'll update the thread once it's fixed.

[2022-07-14 12:26] VShingala commented on #518
@DetachHead Thanks for reporting the issue! We've identified the issue and the fix will be available soon in the Postman app. I'll update the thread once it's fixed.

[2022-07-19 08:52] #478 closed

[2022-07-19 15:30] #518 closed

[2022-07-20 04:58] suyashjoshi commented on #484
+1 to this request

[2022-08-12 04:49] VShingala commented on #559
@bretik Issue has been fixed now. Feel free to re-open issue if you face any further problems.

[2022-08-12 04:49] #559 closed

[2022-08-12 14:52] schelv commented on #499
Hey @VShingala,
Do you have any idea when the README.md will be updated?
I want to use [another package](https://github.com/apideck-libraries/portman/issues/314) that is waiting on these changes. =)

[2022-08-17 10:16] petkostas commented on #499
Yes, please! We gave it a try, and it seems to be working fine!

[2022-08-23 09:04] taa-autorola-com commented on #484
+1 to this request

[2022-08-29 17:14] myriahnottage commented on #465
@umeshp7 is there any timeline on support for multiple API keys?

[2022-09-14 14:42] DeadCatEdz opened #619 "OpenAPI $ref does not resolve external HTTP references"
I have an OpenApi definition which has schemas defined in another file and requires the $ref to be HTTP.   However, postman appears to be unable to resolve.

I have checked the URL, in a browser, and it returns definition in a JSON format.  The api definition is YAML, though can't see why that should matter with regards to resolving the link.

Is postman simply unable to handle http references?

[2022-09-16 18:57] carpcarp commented on #34
@SahilChoudhary22 or @VShingala

Would the Postman team be open to "Bearer <token>"  being replaced with "Bearer {{token}}"?
I feel this is much more inline with the UI experience of choosing Authorization Type: Bearer and having {{token}} as the default placeholder variable.
If yes then I can make these changes and submit a pull request.

![image](https://user-images.githubusercontent.com/1441749

[2022-09-20 18:58] thim81 opened #623 "Conversion: Accept header in request when a response has an empty content type"
We have noticed an issue in generated Postman collections if there is a 2xx response without content type defined. It seems very similar to issue reported in https://github.com/apideck-libraries/portman/issues/392.

Here is an example of a specification, where one of responses has no content (**204**):

[code]

Generated Postman collection will contain:
<img width="928" alt="2022-09-20 at 20 57 42

[2022-09-20 18:58] thim81 commented on #623
Linked to https://github.com/apideck-libraries/portman/issues/400

[2022-09-21 06:49] thim81 commented on #499
@VShingala congrats on the OpenApi 3.1 support.
We are great fans and users of the OpenApi-to-postman library and we wondering if the new version is fully backward compatible or are there breaking changes that we should be aware off?

[2022-09-21 08:55] VShingala commented on #499
@thim81 It's fully backward compatible. We've designed the support for OpenAPI 3.1 keeping existing flows and code being the same and have created separate or reuse existing components so OpenAPI 3.0 related APIs are not affected in any way.

Also, we added support for this around February 2022 and haven't seen any issues affecting OpenAPI 3.0 related APIs.

If interested, here's the PR that added

[2022-09-23 18:23] luigi-13 commented on #465
Hello here, any news about this support ?

[2022-09-25 13:25] geeeez opened #624 "Is there a package for this function in Python？"
Is there a package for this function in Python？I need to use python to integrate some testing functions. However, there is no python package for the postman2openapi tool.

[2022-09-29 18:49] klaudiabrisakova opened #626 "Feature Request - option to skip deprecated paths and properties"
Some parts of our API are deprecated and we don't want them in Postman Collection. Right now we have to delete them manually.

Examples:
[code]
[code]

It would be nice to have an option `includeDeprecated` that would skip everything deprecated and not include it into output collection when set to `false`.  Default would be `true`.
Of course there's an option to have it more granular `includeDepre

[2022-10-01 09:15] homemdasneves commented on #401
Same here...

[2022-10-01 11:19] homemdasneves opened #627 "Parameter example is undefined for $ref schema parameters"
If a spec has a reference schema parameter with an example like sortDirection here:
[code]

we won't get "asc" in the value, we'll get `<string>` instead:
[code]

But, if the schema is inline, like below:
[code]

the value is correctly filled as `asc` in the generated postman collection:
[code]

As a workaround, in order to have a valid value upon generation, we can set a default value in the $ref

[2022-10-03 12:14] kool79 opened #630 "Unable to PUT collection with API, Lost basic auth credentials when import with application"
When I try to import with API:

    curl --location --request PUT "https://api.getpostman.com/collections/${collectionId}" \
    --header 'X-Api-Key: PMAK-614b43d3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' \
    --header 'Content-Type: application/json' \
    --data @collection.json

then I get an error (see below).

    { "error": { "name": "malformedRequestError",  "message": "Found 120 errors

[2022-10-03 18:29] shubhbhargav commented on #630
@kool79 Looks like the payload is collection v2 format while the API is expecting v2.1. Can you try updating the `basic` key with the following value:

[code]

[2022-10-04 03:05] kool79 commented on #630
@shubhbhargav
Thanks, for help. Seems it is our issue when we merge collections in manual way (as jsons):  in header we have v2.1 but below there is a v2.0 format.
Current issue can be closed.

[2022-10-19 16:47] philsturgeon commented on #499
Thank you!

[2022-10-19 16:47] #499 closed

[2022-10-28 21:21] anikitin commented on #484
Would be very nice to have, otherwise we need to add some post-processor of the generated collection to include this information.

[2022-10-28 21:32] anikitin commented on #626
I wonder if these tools used as OpenAPI pre-processor can help to work around this problem by filtering out the deprecated methods before sending the spec to openapi2postman:

https://github.com/Mermade/openapi-filter
https://www.npmjs.com/package/openapi-format#cli-filter-usage

[2022-10-28 21:51] thim81 commented on #626
Hi @anikitin

As maintainer of the https://www.npmjs.com/package/openapi-format#cli-filter-usage, I can tell you that this was one of goals of the package.

You can pass along which operations you want to filter out from the original OpenApi doc based a certain flag, tag or operation Id and you will get a stripped OpenApi file as result, which you can pass along to OpenApi-to-postman.

[2022-11-02 04:44] SaloniV3011 commented on #484
@SahilChoudhary22  Can we look into this please^

[2022-11-02 07:43] SahilChoudhary22 commented on #484
@gn-stuckenberg Hi, this feature was added and released with `openapi-to-postman v4.2.0`.

PR - https://github.com/postmanlabs/openapi-to-postman/pull/614

Now if we take this Input as an example -
[code]

the following will be the output (auth section)
[code]

This should've solved this issue. if it did not, do let me know and I'll be happy to help. 👍

PS: You can observe the same behaviour in th

[2022-11-02 07:43] #484 closed

[2022-11-02 15:33] Gunacan commented on #306
Hi, are there any updates on when this will be implemented?

[2022-11-04 09:03] khazamov opened #637 "Openapi-to-postman is not working"
I’m on the latest version of NPM and the latest version of [https://www.npmjs.com/package/openapi-to-postmanv2](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.npmjs.com%2Fpackage%2Fopenapi-to-postmanv2&data=05%7C01%7Co.khazamov%40criteo.com%7C752ba1d095d64b63e83108dabde2e816%7C2a35d8fd574d48e3927c8c398e225a01%7C1%7C0%7C638031079504160653%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wL

[2022-11-10 20:23] khazamov commented on #637
Turns out I needed to update my NPM version. This issue can be closed out.

[2022-11-10 20:23] #637 closed

[2022-11-11 14:28] alno74d commented on #425
Any update on this? This is really surprising that it is not supported.

[2022-11-11 14:30] alno74d commented on #89
Duplicate of https://github.com/postmanlabs/openapi-to-postman/issues/425
Is there any update?